@import "../../styles/dimension";

@mixin motionAxis() {
  --_ma-dimension: var(--ma-dimension, #{dimension(30)});
  --_ma-transition: 1;

  &.transition-back {
    --_ma-transition: -1;
  }
}

@mixin motionAxisSlide() {
  &__slide {
    --_ma-type: +1;
    --_ma-transform: calc(var(--_ma-dimension) * var(--_ma-transition) * var(--_ma-type));
    display: none;
    position: fixed;
    opacity: 0;
    transition-duration: var(--transition-large-expanding);
    will-change: opacity, transform;
    @content;

    &.status-block,
    &.status-selected,
    &.status-old {
      display: block;
    }

    &.status-block,
    &.status-selected {
      position: relative;
    }

    &.status-selected {
      display: block;
      opacity: 1;
      transform: none;
      transition: opacity 210ms var(--transition-cubic-80-00) 90ms,
      transform var(--transition-large-expanding) var(--transition-cubic-80-40);
      z-index: 1;
    }

    &.status-old {
      --_ma-type: -1;
      height: var(--_ma-height);
      left: var(--_ma-left);
      opacity: 0;
      position: fixed;
      top: var(--_ma-top);
      transition: opacity 90ms var(--transition-cubic-00-40),
      transform var(--transition-large-expanding) var(--transition-cubic-80-40);
      width: var(--_ma-width);
    }
  }
}

@mixin motionAxisAxis() {
  &.axis-x &__slide:not(.status-selected) {
    transform: translateX(var(--_ma-transform));
  }

  &.axis-y &__slide:not(.status-selected) {
    transform: translateY(var(--_ma-transform));
  }
}

@mixin motionAxisAxisZ() {
  &.axis-z &__slide:not(.status-selected) {
    transform: scale(var(--_ma-transform));
  }

  &.axis-z &__slide {
    --_ma-transform: .8;

    &.status-selected {
      --_ma-transform: 100%;
    }

    &.status-old {
      --_ma-transform: 1.1;
    }
  }

  &.axis-z.transition-back &__slide {
    --_ma-transform: 1.1;

    &.status-old {
      --_ma-transform: .8;
    }
  }
}

@mixin motionAxisInit() {
  @include motionAxis;
  @include motionAxisSlide;
  @include motionAxisAxis;
  @include motionAxisAxisZ;
}
