@import "../../styles/color";
@import "../../styles/dimension";
@import "../../styles/elevation";
@import "../../styles/flex";
@import "../../styles/font";
@import "../../styles/media";
@import "../../styles/position";
@import "../../styles/options/optionShape";

@mixin tooltip() {
  @include tooltipVar;

  --_tt-shift: 0px;
  --_tt-arrow: 0px;
  --_tt-rotate: -45deg;
  --_tt-originY: -50%;
  --_tt-translateY: calc(var(--_tt--ar-size) / 2 * -1);

  @include flexCenter;
  @include font('body2');
  @include index(9);
  --basic-text: var(--text-type2);
  background-color: varColor(--_tt-palette, --opacity-surface-medium);
  border-radius: var(--_tt-radius);
  min-height: var(--_tt-height);
  left: calc(var(--_tt-left, 0) + var(--_tt-shift));
  max-width: 100%;
  opacity: 0;
  padding: var(--_tt-padding);
  position: fixed;
  top: calc(var(--_tt-top, 0) + var(--_tt-arrow));
  transform-origin: calc(50% - var(--_tt-shift)) var(--_tt-originY);
  transition: opacity var(--transition-flash) linear;
  width: var(--_tt-max-width, auto);

  @include mediaMinWidth() {
    @include font('caption');
    --_tt-height: var(--_tt--ds-height);
  }
}

@mixin tooltipVar() {
  --_tt-palette: var(--tt-palette, var(--background-overlay));
  --_tt-text-palette: var(--tt-text-palette, var(--text-type2));

  --_tt-radius: var(--tt-radius, var(--basic-radius));
  --_tt-padding: var(--tt-padding, #{dimension(1) dimension(4)});

  --_tt-height: var(--tt-height, #{dimension(8)});
  --_tt--ds-height: var(--tt--ds-height, #{dimension(6)});

  --_tt--ar-size: var(--tt--ar-size, #{dimension(3)});
}

@mixin tooltipArrow() {
  &.option-arrow {
    --_tt-arrow: calc(var(--_tt--ar-size) / 2);
    @include afterAbsolute('top', fixed) {
      @include squared(var(--_tt--ar-size));
      background-color: inherit;
      clip-path: polygon(0 0, 100% 100%, 100% 0);
      margin: auto;
      transform: translateX(#{calc(var(--_tt-shift) * -1)}) translateY(var(--_tt-translateY)) rotate(var(--_tt-rotate));
    }
    @content;

    &.option-top {
      --_tt-arrow: calc(var(--_tt--ar-size) / 2 * -1);
      --_tt-translateY: calc(var(--_tt--ar-size) / 2);

      &::after {
        --_tt-rotate: 135deg;
        bottom: 0;
        top: auto;
      }
    }
  }
}

@mixin tooltipShape() {
  @include optionShape;
}

@mixin tooltipStatus() {
  &.option-top {
    --_tt-originY: 150%;
  }

  &.status-preparation {
    transform: scale(0.4);
  }

  &.status-show {
    opacity: 1;
    transform: scale(1);
    transition: opacity var(--transition-flash) linear,
    transform var(--transition-basic) var(--transition-cubic-80-00);
  }
}

@mixin tooltipInit() {
  @include tooltip;
  @include tooltipArrow;
  @include tooltipShape;
  @include tooltipStatus;
}
