@import "../../styles/font";
@import "../../styles/position";

@mixin mask() {
  display: flex;
  direction: ltr;
  align-items: center;
}

@mixin maskShow() {
  &__view {
    @include ellipsis;
    display: block;
    position: relative;
    width: 100%;
  }

  &__mask,
  &__passed,
  &__character {
    cursor: auto;
    opacity: 0;
    position: relative;
    text-transform: lowercase;
  }

  &__mask {
    --basic-text-opacity: var(--ms__opacity, var(--opacity-scrim));
  }

  &__passed {
    --basic-text-opacity: var(--ms__opacity, var(--opacity-surface-medium));
  }

  &__character {
    --basic-text-opacity: var(--ms__opacity, var(--opacity-surface-high));

    &.status-error {
      --basic-text: var(--error-type1);
      z-index: 8;
    }
  }

  &:focus-within &,
  &.status-character & {
    &__mask,
    &__passed,
    &__character {
      opacity: 1;
    }
  }
}

@mixin maskInput() {
  &__input {
    @include absoluteFull;
    --basic-text-opacity: var(--ms__opacity, var(--opacity-surface-medium));
    caret-color: rgba(var(--basic-text), var(--basic-text-opacity));
    color: transparent;
    text-align: inherit;
    width: 100%;
    z-index: 4;
    @content;

    &:focus::placeholder {
      color: transparent;
    }

    &:-webkit-autofill {
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  &__date {
    display: none;
  }
}

@mixin maskDate() {
  &.type-date {
    justify-content: var(--d-direction-justify-start);
  }

  &.type-date &__view {
    display: inline-block;
    width: auto;
  }
}

@mixin maskInit() {
  @include mask;
  @include maskShow;
  @include maskInput;
  @include maskDate;
}
