@import "../../styles/color";
@import "../../styles/elevation";
@import "../../styles/font";

@mixin controlSelection() {
  @include controlSelectionVar;

  position: relative;
}

@mixin controlSelectionVar() {
  --_cs-palette-type1: var(--cs-palette-type1, var(--background-scrim));
  --_cs-palette-type2: var(--cs-palette-type2, var(--palette-type1, var(--primary-type1)));
  --_cs__it-border: var(--cs__it-border, var(--basic-border-width));
  --_cs__it-display: var(--cs__it-display, block);
}

@mixin controlSelectionSquare() {
  &__square {
    @include index(8);
    background-color: varColor(--_cs-palette-type1, --opacity-container-dragged);
    border-color: varColor(--_cs-palette-type1, --opacity-outline);
    border-width: var(--basic-border-width);
    height: var(--_cs-height);
    left: var(--_cs-x);
    opacity: 0;
    position: absolute;
    top: var(--_cs-y);
    width: var(--_cs-width);
    transition-property: opacity, visibility;
    visibility: hidden;

    &.cs-show {
      opacity: 1;
      transition-property: none;
      visibility: visible;
    }
  }
}

@mixin controlSelectionItem() {
  &__item {
    position: relative;

    &::before {
      @include index(8);
      background-color: varColor(--_cs-palette-type2, --opacity-container-selected);
      border-width: var(--_cs__it-border);
      content: " ";
      display: none;
      inset: 0;
      position: absolute;
    }

    &.status-selected::before {
      display: var(--_cs__it-display);
    }
  }
}

@mixin controlSelectionBody() {
  &__body {
    @include select-none;
  }
}

@mixin controlSelectionInit() {
  @include controlSelection;
  @include controlSelectionSquare;
  @include controlSelectionItem;
  @include controlSelectionBody;
}
