@import "../../styles/color";
@import "../../styles/elevation";
@import "../../styles/flex";
@import "../../styles/font";
@import "../../styles/media";
@import "../../styles/padding";
@import "../../styles/position";
@import "../../styles/options/optionShape";

%padding-x {
  @include paddingY(var(--_ab-padding));
}

%max-height {
  max-height: var(--_ab-height);
}

@mixin appBar {
  --_ab-palette-type1: var(--ab-palette-type1, var(--palette-type2, var(--primary-type1)));
  --_ab-palette-type2: var(--ab-palette-type2, var(--palette-type1, var(--background-colorless)));
  --_ab-palette-type3: var(--ab-palette-type3, transparent);

  --_ab-gap: var(--ab-gap, 32px);
  --_ab-width: var(--ab-width, auto);

  --_ab-padding: var(--ab-padding, 8px);
  --_ab--ds-padding: var(--ab--ds-padding, 12px);
  --_ab--sh-padding: var(--ab--sh-padding, #{4px 8px 0});

  --_ab-height: var(--ab-height, 56px);
  --_ab--sm-height: var(--ab--sm-height, 48px);
  --_ab--lr-height: var(--ab--lr-height, 64px);

  --_ab__cn-padding: var(--ab__cn-padding, 16px);
  --_ab__cn-top: var(--ab__cn-top, 8px);

  --li-palette-select: var(--text-type2);

  @include fixedTop;
  @include index(4);
  --basic-text: var(--text-type2);
  --basic-text-opacity: var(--opacity-primary-high);

  @include mediaMinWidth {
    --_ab-padding: var(--_ab--ds-padding);
  }

  &__spacer {
    flex-grow: 1;
  }
}

@mixin appBarBody {
  &__body {
    background-color: varColor(--_ab-palette-type1);
    background-image: var(--_ab-background-image);
    border-radius: inherit;
    box-shadow: var(--shadow-type4);
    display: flex;
    gap: var(--_ab-gap);
    margin: 0 auto;
    max-width: var(--_ab-width);
    min-height: var(--_ab-height);
    padding: 0 var(--_ab-padding);
    transition-property: background, box-shadow, border, color;
    @content;
  }
}

@mixin appBarNavigation {
  &__navigation {
    @extend %flex-x;
    @extend %max-height;
    --ii-font-size: 28px;
    @content;
  }
}

@mixin appBarTitle {
  &__title {
    @include font('headline6');
    position: relative;
    @content;
  }

  &__text {
    @extend %flex-x;
    @extend %padding-x;
    height: 100%;
  }

  &__short {
    @include absoluteFull;
    @extend %flex-x;
    @extend %padding-x;
    opacity: 0;
  }

  &.option-transform.status-short & {
    &__text {
      align-items: flex-end;
      max-height: var(--_ab-height);
      opacity: calc(1 - var(--_ab-percent));
    }

    &__short {
      padding-top: calc(var(--_ab-transform) - var(--_ab-scroll) + var(--_ab-padding));
      opacity: var(--_ab-percent);
    }
  }

  &.option-transform &__title {
    padding-top: calc(var(--_ab-transform) - var(--_ab-scroll));
  }
}

@mixin appBarMenu {
  &__menu.d-list {
    @extend %max-height;
    display: none;
    @content;

    @include mediaMinWidth {
      display: flex;
    }
  }
}

@mixin appBarBar {
  &__bar {
    @extend %max-height;
    @content;
  }
}

@mixin appBarAction {
  &__action {
    @extend %max-height;
    @content;
  }

  &.status-action {
    --basic-text: var(--text-inverse);
    --bt-palette-type1: var(--text-inverse);
    --_ab-palette-type1: var(--background-inverse);
  }

  &.status-action &__body {
    background-image: none;
  }
}

@mixin appBarContent {
  &__content {
    --basic-text: var(--text-type1);
    background: var(--background-type4);
    border-radius: inherit;
    box-shadow: var(--shadow-type4);
    position: relative;
    z-index: 4;
  }

  &.shape-basic &,
  &.shape-rounded &,
  &.shape-pill & {
    &__content {
      margin-top: var(--_ab__cn-top);
    }
  }
}

@mixin appBarDisappears {
  &.scroll-disappears {
    top: var(--_ab-top);
  }
}

@mixin appBarElevation {
  &.scroll-elevation:not(.status-sticky) &__body {
    box-shadow: none;
  }
  &.scroll-elevation.appearance-transparent:not(.status-sticky) &__body {
    --basic-text: var(--text-type1);
    --li-palette-select: var(--text-type1);
    background-color: var(--_ab-palette-type3);
  }
}

@mixin appBarSize() {
  &.size- {
    &small {
      --_ab-height: var(--_ab--sm-height);
    }

    &large {
      --_ab-height: var(--_ab--lr-height);
    }
  }
}

@mixin appBarShape() {
  @include optionShape;

  &.shape-basic,
  &.shape-rounded,
  &.shape-pill {
    padding: var(--_ab--sh-padding);
  }
}

@mixin appBarBorder {
  &.scroll-border &__body {
    box-shadow: none;
  }

  &.scroll-border.status-sticky &__body {
    border-bottom-width: var(--basic-border-width);
  }
}

@mixin appBarHide {
  &.status-hide &__action {
    opacity: 0;
    transition-property: opacity;
  }
}

@mixin appBarInit {
  @include appBar;
  @include appBarBody;
  @include appBarNavigation;
  @include appBarTitle;
  @include appBarMenu;
  @include appBarBar;
  @include appBarAction;
  @include appBarContent;

  @include appBarDisappears;
  @include appBarElevation;
  @include appBarBorder;
  @include appBarSize;
  @include appBarShape;

  @include appBarHide;
}
