@mixin sliderPickerVar() {
  --_sl-palette: var(--sl-palette, var(--palette-type1, var(--primary-type1)));
  --_sl-label-palette: var(--sl-label-palette, var(--text-type1));

  --_sl-radius: var(--sl-radius, var(--basic-radius));
  --_sl-height: var(--sl-height, 6px);
  --_sl-size: var(--sl-size, 40px);
  --_sl-width: var(--sl-width, 280px);
  --_sl__th-size: var(--sl__th-size, 20px);

  --_sl__mr-height: var(--sl__mr-height, 4px);
  --_sl__mr-width: var(--sl__mr-width, 2px);

  --_sl__lb-padding: var(--sl__lb-padding, #{4px 8px});
  --_sl__lb--ar-size: var(--sl__lb--ar-size, 8px);
}

@mixin sliderPickerVarDrop() {
  --_sl--drop-height: var(--sl--drop-height, 2px);
  --_sl--drop__th-size: var(--sl--drop__th-size, 12px);

  --_sl--drop__mr-height: var(--sl--drop__mr-height, 2px);
  --_sl--drop__mr-width: var(--sl--drop__mr-width, 2px);

  --_sl--drop__lb-line: var(--sl--drop__lb-line, 18px);
  --_sl--drop__lb-width: var(--sl--drop__lb-width, 32px);
}
