@mixin listItemVar() {
  --_li-palette: var(--li-palette, var(--palette-type1, var(--basic-text)));
  --_li-select-palette: var(--li-select-palette, var(--palette-type1, var(--primary-type1)));
  --_li-image-palette: var(--li-image-palette, var(--_li-palette));

  --_li-background: var(--li-background, var(--_li-palette));
  --_li-background-opacity: var(--li-background-opacity, 0);
  --_li-background-select: var(--li-select-background, var(--_li-select-palette));
  --_li-margin: var(--li-margin, 0px);
  --_li-padding: var(--li-padding, 16px);
  --_li-padding-y: var(--li-padding-y, 4px);
  --_li-squeeze: var(--li-squeeze, 0px);

  --_li-height: var(--li-height, 48px);
  --_li--cm-height: var(--li--cm-height, 32px);
  --_li--md-height: var(--li--md-height, 56px);
  --_li--lg-height: var(--li--lg-height, 72px);
  --_li--nr-height: var(--li--nr-height, 72px);
  --_li--nr--ic-height: var(--li--nr--ic-height, 56px);

  --_li--sh-margin: var(--li--sh-margin, 4px);

  --_li__ic-padding: var(--li__ic-padding, 32px);

  --_li__st-gap: var(--li__st-gap, 8px);
}
