@import "../../styles/color";
@import "../../styles/font";
@import "../../styles/media";
@import "../../styles/position";
@import "styleExtend";

@mixin list() {
  @include listVar;
  padding: var(--_ls-padding);
  width: auto;

  &-item:not(.option-thumbnail):not(.option-icon) {
    display: var(-_ls__ad-display, flex);
  }
}

@mixin listVar() {
  --_ls-palette: var(--ls-palette, var(--palette-type1, var(--primary-type1)));

  --_ls-padding: var(--ls-padding, #{8px 0});
  --_ls__li-padding: var(--ls__li-padding, 12px);

  --_ls__sp-height: var(--ls__sp-height, 32px);

  --_ls__ln-margin: var(--ls__ln-margin, #{8px 0});

  --_ls__st-padding: var(--ls__st-padding, #{4px 16px});

  --_ls__gr-background: var(--ls__gr-background, #{varColor(--_ls-palette)});
  --_ls__gr-width: var(--ls__gr-width, 4px);
  --_ls__gr--op-background: var(--ls__gr--op-background, #{varColor(--background-overlay, --opacity-container-hover)});
  --_ls__gr--op-font-weight: var(--ls__gr--op-font-weight, 500);
}

@mixin listHtml() {
  &__html {
    display: var(-_ls__ad-display, block);
  }
}

@mixin listSpace() {
  &__space {
    height: var(--_ls__sp-height);
    @content;
  }
}

@mixin listLine() {
  &__line {
    height: var(--basic-border-width);
    background-color: var(--basic-border);
    margin: var(--_ls__ln-margin);
    @content;
  }
}

@mixin listSubtitle() {
  &__subtitle {
    --basic-text-opacity: var(--opacity-surface-medium);
    @include font('body2');
    display: var(-_ls__ad-display, block);
    padding: var(--_ls__st-padding);
    @content;
  }
}

@mixin listGroup() {
  &__group {
    transition-property: background-color;
    @content;

    @include afterAbsolute('left') {
      background-color: var(--_ls__gr-background);
      transform: scaleX(0);
      transform-origin: left;
      transition-property: transform;
      width: var(--_ls__gr-width);
    }

    > .d-list {
      display: none;
      padding-left: var(--_ls__gr-width);
    }

    &.status-open {
      background-color: var(--_ls__gr--op-background);

      &::after {
        transform: none;
      }

      > .d-list {
        display: block;

        &-item {
          font-weight: var(--_ls__gr--op-font-weight);
        }
      }
    }
  }
}

@mixin listAxis() {
  &.axis-x {
    --li-padding: var(--_ls__li-padding);
    --_ls-padding: 0;
    display: flex;
    width: auto;
    @content;
  }

  &.axis-x & {
    &__space {
      height: auto;
      width: var(--_ls__sp--ax-width);
    }

    &__group,
    &__subtitle,
    &__line {
      display: none;
    }
  }
}

@mixin listAdaptive() {
  $this: &;

  @include mediaMaxList {
    @include mixinAdaptive;
  }

  &.adaptive-icon {
    @extend %mixin-adaptive;
  }
}

@mixin listNavigationRail() {
  $this: &;

  @include mediaMaxWidth(small) {
    &.navigation-rail-small,
    &.navigation-rail-medium,
    &.navigation-rail-large,
    &.navigation-rail-extra,
    &.navigation-rail-desktop {
      @include mixinAdaptive;
    }
  }

  @include mediaMinMaxWidth(small, medium) {
    &.navigation-rail-medium,
    &.navigation-rail-large,
    &.navigation-rail-extra,
    &.navigation-rail-desktop,
    &.navigation-rail-medium-medium,
    &.navigation-rail-medium-large,
    &.navigation-rail-medium-extra,
    &.navigation-rail-medium-desktop {
      @include mixinAdaptive;
    }
  }

  @include mediaMinMaxWidth(medium, large) {
    &.navigation-rail-large,
    &.navigation-rail-extra,
    &.navigation-rail-desktop,
    &.navigation-rail-medium-large,
    &.navigation-rail-medium-extra,
    &.navigation-rail-medium-desktop,
    &.navigation-rail-large-large,
    &.navigation-rail-large-extra,
    &.navigation-rail-large-desktop {
      @include mixinAdaptive;
    }
  }

  @include mediaMinMaxWidth(large, extra) {
    &.navigation-rail-extra,
    &.navigation-rail-desktop,
    &.navigation-rail-medium-extra,
    &.navigation-rail-medium-desktop,
    &.navigation-rail-large-extra,
    &.navigation-rail-large-desktop {
      @include mixinAdaptive;
    }
  }

  @include mediaMinMaxWidth(extra, desktop) {
    &.navigation-rail-desktop,
    &.navigation-rail-medium-desktop,
    &.navigation-rail-large-desktop {
      @include mixinAdaptive;
    }
  }

  &.navigation-rail-always {
    @extend %mixin-adaptive;
  }
}

@mixin listInit() {
  @include list;
  @include listSpace;
  @include listLine;
  @include listSubtitle;
  @include listGroup;

  @include listNavigationRail;

  @include listAxis;
  @include listAdaptive;
}
