@import "../../styles/color";
@import "../../styles/position";

@mixin ripple() {
  --_rp-palette: var(--rp-palette, var(--palette-type1, var(--primary-type1)));

  @extend %absolute-full;
  border-radius: inherit;
  overflow: hidden;
  z-index: 1;
}

@mixin rippleItem() {
  @keyframes __animate-ripple__item {
    0% {
      background-color: transparent;
      clip-path: circle(000% at var(--_rp-x) var(--_rp-y));
    }

    100% {
      background-color: varColor(--_rp-palette, --opacity-container-pressed);
      clip-path: circle(150% at var(--_rp-x) var(--_rp-y));
    }
  }

  &__item {
    @extend %absolute-full;
    animation-duration: var(--transition-large-expanding);
    animation-fill-mode: forwards;
    animation-name: __animate-ripple__item;
    @content;
  }

  &__item.step-1:not(:last-child),
  &:not(:active) &__item.step-1 {
    opacity: 0;
    transition-delay: .2s;
    transition-duration: var(--transition-large-expanding);
    transition-property: opacity;
  }
}

@mixin rippleInit() {
  @include ripple;
  @include rippleItem;
}
