@import "../../styles/color";

@mixin clockFaceVar() {
  --_cf-palette-type1: var(--cf-palette-type1, var(--palette-type1, var(--primary-type1)));
  --_cf-palette-type2: var(--cf-palette-type2, var(--secondary-type1));

  --_cf-background: var(--cf-background, #{varColor(--background-scrim, --opacity-overlay)});
  --_cf-padding: var(--cf-padding, 4px);
  --_cf-width: var(--cf-width, 256px);

  --_cf__vl-section: var(--cf__vl-section, 16px);
  --_cf__vl-width: var(--cf__vl-width, 48px);
  --_cf__vl--dot-width: var(--cf__vl--dot-width, 4px);

  --_cf__ar-height: var(--cf__ar-height, 2px);
  --_cf__ar--hour-height: var(--cf__ar--hour-height, 6px);
  --_cf__ar--minute-height: var(--cf__ar--minute-height, 4px);
  --_cf__pn-height: var(--cf__pn-height, 8px);
}
