@import "../../styles/color";
@import "../../styles/dimension";
@import "../../styles/flex";
@import "../../styles/font";
@import "../../styles/position";
@import "../../styles/options/optionBlur";
@import "../../styles/options/optionShape";

@mixin file() {
  @include fileVar;
  --cp__it-display: none;
  --cs__it-display: none;

  @include width(var(--_if-width));
  border-radius: var(--basic-radius);
  position: relative;

  &__body {
    border-color: varColor(--background-overlay, --opacity-scrim);
    border-radius: inherit;
    border-width: 1px;
  }

  &__input {
    display: none;
  }
}

@mixin fileVar() {
  --_if-blur: var(--if-blur, var(--blur-type1));
  --_if-width: var(--if-width, 320px);
  --_if__vl-padding: var(--if__vl-padding, 8px);
}

@mixin fileText() {
  &__text {
    @include font('subtitle2');
    @content;
  }
}

@mixin fileRequired() {
  &__required {
    --basic-text: var(--error-type1);

    &::after {
      content: '*';
    }
  }
}

@mixin fileImage() {
  &__image {
    --ii-background-size: contain;
    @include aspectRatio('16/9') {
      height: calc(var(--_if-width) / 4 * 3);
    }
    background-color: varColor(--background-overlay, --opacity-overlay);
    @include optionBlur(var(--_if-blur)) {
      background-color: varColor(--background-colorless, --opacity-surface-high);
    }
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    font-size: 32px;
    top: var(--basic-top);
    width: 100%;
    z-index: 2;
    @content;

    @include afterAbsolute('full', sticky) {
      @include flexCenter;
      @include font('subtitle2');
      content: attr(data-text);
      opacity: var(--opacity-surface-medium);
    }
  }

  &.status-focus &__image::after,
  &.status-disabled &__image::after {
    content: " ";
  }
}

@mixin fileValidation() {
  &__helper,
  &__validation {
    @include font('caption');
    align-items: flex-start;
    display: flex;
    padding: var(--_if__vl-padding);
    @content;
  }

  &__helper {
    --basic-text-opacity: var(--opacity-surface-medium);
  }

  &__validation {
    --basic-text: var(--error-type1);
  }
}

@mixin fileActions() {
  &__actions {
    background-color: varColor(--background-colorless, --opacity-container-pressed);
    @include optionBlur(var(--_if-blur)) {
      background-color: varColor(--background-colorless, --opacity-surface-high);
    }
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    bottom: var(--basic-bottom);
    position: sticky;
    z-index: 4;
  }
}

@mixin fileList() {
  &__list {
    border-color: varColor(--background-overlay, --opacity-border);
    padding: 0;
    @content;
  }
}

@mixin fileAdaptive() {
  &.adaptive-block {
    flex-basis: 100%;
    width: 100%;
  }
}

@mixin fileShape() {
  @include optionShapeBasic;
  @include optionShapeRounded;
  @include optionShapeTile;
}

@mixin fileEdit() {
  &__edit {
    --rf-width: 100%;
  }
}

@mixin fileInit() {
  @include file;
  @include fileText;
  @include fileRequired;
  @include fileImage;
  @include fileList;
  @include fileValidation;
  @include fileActions;
  @include fileAdaptive;
  @include fileShape;
  @include fileEdit;
}
