@import "../../src/styles/dimension";

@mixin listItemVar() {
  --_li-palette-type1: var(--li-palette-type1, var(--palette-type1, var(--basic-text)));
  --_li-palette-type2: var(--li-palette-type2, var(--palette-type1, var(--primary-type1)));
  --_li-palette-select: var(--li-palette-select, var(--palette-type2, var(--primary-type2)));
  --_li-palette-image: var(--li-palette-image, var(--_li-palette-type1));

  --_li-gap: var(--li-gap, #{dimension(4)});

  --_li-background-color: var(--li-background-color, var(--_li-palette-type2));
  --_li-text-color: var(--li-text-color, var(--basic-text));

  --_li-height: var(--li-height, #{dimension(12)});
  --_li--cm-height: var(--li--cm-height, #{dimension(8)});
  --_li--md-height: var(--li--md-height, #{dimension(14)});
  --_li--lg-height: var(--li--lg-height, #{dimension(18)});
  --_li--nr-height: var(--li--nr-height, #{dimension(18)});
  --_li--nr--ic-height: var(--li--nr--ic-height, #{dimension(14)});

  --_li-padding: var(--li-padding, #{dimension(4)});
  --_li-padding-y: var(--li-padding-y, #{dimension(1)});
  --_li--ic-padding: var(--li--ic-padding, #{dimension(2)});
  --_li--ic--ds-padding: var(--li--ic--ds-padding, #{dimension(3)});
  --_li--ds-padding: var(--li--ds-padding, #{dimension(6)});
  --_li--nr-padding: var(--li--nr-padding, #{dimension(1)});
  --_li__ic-padding: var(--li__ic-padding, #{dimension(8)});
  --_li-squeeze: var(--li-squeeze, 0px);

  --_li-margin: var(--li-margin, 0px);
  --_li--sh-margin: var(--li--sh-margin, #{dimension(2)});

  --_li__st-gap: var(--li__st-gap, #{dimension(2)});
}
