@import "../../styles/color";
@import "../../styles/elevation";
@import "../../styles/flex";
@import "../../styles/font";
@import "../../styles/position";
@import "../../styles/options/optionBlur";

@mixin snackbar {
  --_sn-palette: var(--sn-palette, var(--palette-type2, var(--background-inverse)));
  --_sn-gap: var(--sn-gap, 8px);
  --_sn-bottom: var(--sn-bottom, 8px);
  --_sn-radius: var(--sn-radius, var(--basic-radius));
  --_sn-padding: var(--sn-padding, 16px);
  --_sn-padding-y: var(--sn-padding-y, 14px);

  @include fixedX(var(--_sn-bottom));
  @include flexCenter;
  @include index(9);
  bottom: calc(var(--basic-bottom) + var(--_sn-bottom));
  opacity: 0;
  visibility: hidden;
  transition-duration: var(--transition-menu-collapsing);
  transition-property: opacity, visibility;
  transition-timing-function: linear;
}

@mixin snackbarBody {
  &__body {
    @include optionBlur;
    @include flexGapX(var(--_sn-gap));
    @extend %flex-x;
    --basic-text: var(--text-inverse);
    --basic-text-opacity: var(--opacity-primary-high);
    background-image: varColor(--_sn-palette, --opacity-surface-high, true);
    border-radius: var(--_sn-radius);
    display: flex;
    flex-wrap: wrap;
    padding-left: var(--_sn-padding);
    transform: scale(.8);
    transition-duration: .1s;
    transition-delay: var(--transition-menu-collapsing);
    transition-property: transform;
    transition-timing-function: var(--transition-cubic-80-00);
  }
}

@mixin snackbarText {
  &__text {
    @include flexGapX(var(--_sn-gap));
    @include font('body2');
    @extend %flex-x;
    flex-grow: 1;
    padding: var(--_sn-padding-y) calc(var(--_sn-padding) - var(--_sn-gap)) var(--_sn-padding-y) 0;
  }
}

@mixin snackbarIcon {
  &__icon {
    min-width: var(--_ic-size);
  }
}

@mixin snackbarBar {
  &__bar {
    flex-grow: 1;
  }
}

@mixin snackbarShape() {
  &.shape-basic &__body {
    border-radius: var(--basic-radius);
  }

  &.shape-rounded &__body {
    border-radius: var(--radius-type5);
  }

  &.shape-pill &__body {
    border-radius: var(--radius-pill);
  }

  &.shape-tile &__body {
    border-radius: var(--radius-tile);
  }
}

@mixin snackbarAlign() {
  &.align-left {
    justify-content: flex-start;
  }

  &.align-right {
    justify-content: flex-end;
  }
}

@mixin snackbarShow {
  &.status-show {
    opacity: 1;
    visibility: visible;
    transition-duration: .45s;
  }

  &.status-show &__body {
    transform: none;
    transition-delay: 0s;
    transition-duration: var(--transition-menu-expanding);
  }
}

@mixin snackbarInit {
  @include snackbar;
  @include snackbarBody;
  @include snackbarText;
  @include snackbarIcon;
  @include snackbarBar;

  @include snackbarShape;
  @include snackbarAlign;

  @include snackbarShow;
}
