@import "../../styles/color";
@import "../../styles/flex";
@import "../../styles/font";
@import "../../styles/position";

%border {
  border-bottom-width: var(--basic-border-width);
}

%font {
  @include font('body2');
}

%padding {
  padding: var(--_tl-padding);
}

@mixin table {
  --_tl-height: var(--tl-height, 52px);
  --_tl--sm-height: var(--tl--sm-height, 44px);
  --_tl--lr-height: var(--tl--lr-height, 60px);

  --_tl-padding: var(--tl-padding, #{4px 16px});
  --_tl--ch-padding: var(--tl--ch-padding, #{2px 8px});
  --_tl--dn-padding: var(--tl--dn-padding, #{2px 8px});

  background: var(--background-type1);
  border-radius: inherit;
  width: 100%;
}

@mixin tableHeaders {
  &__headers {
    @extend %border;
    @content;
  }
}

@mixin tableHeader {
  &__header {
    @extend %font;
    @extend %padding;
    height: calc(var(--_tl-height) + 4px);
    @content;

    &__item {
      @include flexX;
      @include flexGapX(4px);
    }

    &__text {
      @include ellipsis;
      flex-shrink: 1;
      font-weight: 500;
      order: 2;
    }

    &__sort {
      order: 3;
    }

    &__sort:not(.status-sort) {
      --basic-text-opacity: var(--opacity-surface-disabled);
      visibility: hidden;
    }

    &:hover &__sort {
      visibility: visible;
    }

    &[align="right"] &__item {
      justify-content: flex-end;
    }

    &[align="right"] &__sort {
      order: 1;
    }

    &[align="center"] &__item {
      justify-content: center;
    }
  }
}

@mixin tableItems {
  &__items {
    @content;

    &:not(:last-child) {
      @extend %border;
    }

    &:hover {
      background-color: varColor(--background-outline, --opacity-container-hover);
    }
  }
}

@mixin tableItem {
  &__item {
    @extend %font;
    @extend %padding;
    height: var(--_tl-height);
    @content;

    &.option-sticky {
      @include sticky;
      background: inherit;
      left: 0;
      z-index: 2;
    }
  }
}

@mixin tableCheckbox {
  &__checkbox {
    padding: var(--_tl--ch-padding);
    @content;
  }
}

@mixin tableSize {
  &.size-small {
    --_tl-height: var(--_tl--sm-height);
  }

  &.size-large {
    --_tl-height: var(--_tl--lr-height);
  }
}

@mixin tableSticky {
  &.option-sticky & {
    &__headers {
      @include sticky;
      background: var(--background-type1);
      top: var(--basic-top);
      z-index: 4;
    }
  }
}

@mixin tableDense {
  &.option-dense {
    --_tl-height: 0px;
    --_tl-padding: var(--_tl--dn-padding);
  }
}

@mixin tableInit {
  @include table;
  @include tableHeaders;
  @include tableHeader;
  @include tableItems;
  @include tableItem;
  @include tableCheckbox;

  @include tableSize;
  @include tableSticky;
  @include tableDense;
}
