@import "../../styles/color";
@import "../../styles/font";
@import "../../styles/media";
@import "../../styles/position";
@import "styleExtend";

@mixin list() {
  @include listVar;
  padding: var(--_ls-padding);
  width: auto;

  &-item:not(.option-thumbnail):not(.option-icon) {
    display: var(-_ls__ad-display, flex);
  }
}

@mixin listVar() {
  --_ls-palette: var(--ls-palette, var(--palette-type1, var(--primary-type1)));

  --_ls-padding: var(--ls-padding, #{8px 0});
  --_ls__li-padding: var(--ls__li-padding, 12px);


  --_ls__ln-margin: var(--ls__ln-margin, #{8px 0});

  --_ls__st-padding: var(--ls__st-padding, #{4px 16px});
}

@mixin listAdaptive() {
  $this: &;

  @include mediaMaxList {
    @include mixinAdaptive;
  }

  &.adaptive-icon {
    @extend %mixin-adaptive;
  }
}

@mixin listNavigationRail() {
  $this: &;

  @include mediaMaxWidth(small) {
    &.navigation-rail-small,
    &.navigation-rail-medium,
    &.navigation-rail-large,
    &.navigation-rail-extra,
    &.navigation-rail-desktop {
      @include mixinAdaptive;
    }
  }

  @include mediaMinMaxWidth(small, medium) {
    &.navigation-rail-medium,
    &.navigation-rail-large,
    &.navigation-rail-extra,
    &.navigation-rail-desktop,
    &.navigation-rail-medium-medium,
    &.navigation-rail-medium-large,
    &.navigation-rail-medium-extra,
    &.navigation-rail-medium-desktop {
      @include mixinAdaptive;
    }
  }

  @include mediaMinMaxWidth(medium, large) {
    &.navigation-rail-large,
    &.navigation-rail-extra,
    &.navigation-rail-desktop,
    &.navigation-rail-medium-large,
    &.navigation-rail-medium-extra,
    &.navigation-rail-medium-desktop,
    &.navigation-rail-large-large,
    &.navigation-rail-large-extra,
    &.navigation-rail-large-desktop {
      @include mixinAdaptive;
    }
  }

  @include mediaMinMaxWidth(large, extra) {
    &.navigation-rail-extra,
    &.navigation-rail-desktop,
    &.navigation-rail-medium-extra,
    &.navigation-rail-medium-desktop,
    &.navigation-rail-large-extra,
    &.navigation-rail-large-desktop {
      @include mixinAdaptive;
    }
  }

  @include mediaMinMaxWidth(extra, desktop) {
    &.navigation-rail-desktop,
    &.navigation-rail-medium-desktop,
    &.navigation-rail-large-desktop {
      @include mixinAdaptive;
    }
  }

  &.navigation-rail-always {
    @extend %mixin-adaptive;
  }
}

@mixin listInit() {
  @include list;
  @include listSpace;
  @include listLine;
  @include listSubtitle;
  @include listGroup;

  @include listNavigationRail;

  @include listAxis;
  @include listAdaptive;
}
