@import "../../styles/color";

%text-medium {
  --basic-text-opacity: var(--opacity-surface-medium);
}

%background-color {
  --_cf-background: #{varColor(--_cf-palette, --opacity-overlay)};
}

%background-input {
  background-color: var(--_cf-background);
  background-image: var(--_cf-background-image);
}

%border-color {
  border-color: varColor(--_cf-border-color, --_cf-border-opacity);
}

%status-disabled {
  --basic-text: var(--disabled-type1);
  --basic-text-opacity: var(--opacity-surface-disabled);
  --_cf-palette: var(--disabled-type1);
  --_cf-status-palette: var(--disabled-type1);
  --_cf-border-color: var(--disabled-type1);
  --_cf-border-opacity: var(--opacity-surface-disabled);
  --_cf-background-image: none;
}
