@import "../../styles/color";
@import "../../styles/dimension";
@import "../../styles/flex";
@import "../../styles/font";

@mixin actions {
  --_ac-gap: var(--ac-gap, #{dimension(2)});
  --_ac-padding: var(--ac-padding, #{dimension(2)});

  --_ac-height: var(--ac-height, #{dimension(13)});
  --_ac--sm-height: var(--ac--sm-height, #{dimension(11)});
  --_ac--lr-height: var(--ac--lr-height, #{dimension(15)});

  @include flexX;
  @include flexGapX(var(--_ac-gap));
  min-height: var(--_ac-height);
  padding: dimension(1) var(--_ac-padding);
  max-width: 100%;
}

@mixin actionsSpacer {
  &__spacer {
    @include flexDynamic;
  }
}

@mixin actionsSize {
  &.size- {
    &small {
      --_ac-height: var(--_ac--sm-height);
    }

    &large {
      --_ac-height: var(--_ac--lr-height);
    }
  }
}

@mixin actionsAxis {
  &.axis-y {
    @include flexGapX(0px);
    @include flexGapY(var(--_ac-gap));
    align-items: flex-end;
    flex-flow: column;
  }

  &.axis-y & {
    &__action,
    &__spacer {
      display: none;
    }
  }
}

@mixin actionsAlign {
  &.align-left.axis-y {
    align-items: flex-start;
  }

  &.align-left & {
    &__action {
      order: 3;
    }

    &__spacer {
      order: 2;
    }
  }

  &.align-center {
    justify-content: center;
  }

  &.align-block {
    justify-content: stretch;
  }

  &.align-block &__bar {
    flex-grow: 1;
    flex-shrink: 1;
  }

  &.align-center &,
  &.align-block & {
    &__action,
    &__spacer {
      display: none;
    }
  }
}

@mixin actionsInit {
  @include actions;
  @include actionsSpacer;

  @include actionsSize;
  @include actionsAxis;
  @include actionsAlign;
}
