@mixin initDirectionRtl() {
  html {
    --d-direction: 1;
    --d-direction-left: 1;
    --d-direction-right: 0;
    --d-direction-auto: auto;
    --d-direction-justify-start: flex-start;
    --d-direction-justify-end: flex-end;
    --d-direction-text-left: left;
    --d-direction-text-right: right;
  }

  .d-direction-rtl,
  html[dir="rtl"] {
    --d-direction: -1;
    --d-direction-left: 0;
    --d-direction-right: 1;
    --d-direction-auto: unset;
    --d-direction-auto-rtl: auto;
    --d-direction-justify-start: flex-end;
    --d-direction-justify-end: flex-start;
    --d-direction-text-left: right;
    --d-direction-text-right: left;
    direction: rtl;
  }
}
