@import "../styles/color";

@mixin initScrollbar() {
  .d-scrollbar {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

    &:not(.status-disabled) {
      --_sc-background: transparent;
      --_sc__th-opacity: var(--opacity-overlay);
      --_sc__th-background: #{varColor(--background-overlay, --_sc__th-opacity)};
      --_sc-width: 8px;

      scrollbar-color: var(--_sc__th-background) var(--_sc-background);
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        appearance: none;
        height: var(--_sc-width);
        width: var(--_sc-width);
      }

      &::-webkit-scrollbar-track {
        background: var(--_sc-background);
      }

      &::-webkit-scrollbar-thumb {
        background: var(--_sc__th-background);
        border: transparent solid var(--basic-border-width);
        border-radius: var(--basic-radius);
      }

      &:hover {
        --_sc__th-opacity: var(--opacity-scrim);
      }
    }

    &.status-visible {
      overflow-y: visible;
      overflow-x: visible;
    }
  }
}
