@import "../styles/color";
@import "../styles/dimension";
@import "../styles/font";
@import "../styles/position";

@mixin initTypography() {
  *,
  *::after,
  *::before,
  a,
  button,
  input,
  optgroup,
  select,
  textarea {
    animation-name: none;
    animation-duration: var(--transition-basic);
    animation-timing-function: linear;
    animation-fill-mode: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: varColor(--basic-text, --basic-text-opacity);
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    transition-duration: var(--transition-basic);
    transition-timing-function: linear;
    transition-property: none;
    -webkit-tap-highlight-color: transparent;
  }

  *:focus {
    outline: none;
  }

  body {
    @include font('body1');
    background-color: var(--background-type0);
    border-color: var(--basic-border);
    font-family: 'Roboto', sans-serif;
    overflow: visible;

    --d-direction-left: 1;
    --d-direction-right: 0;
    --d-direction-text-left: left;
    --d-direction-text-right: right;
  }

  b {
    font-weight: 500;
  }

  a {
    cursor: pointer;
    text-decoration: none;

    &:not(.a-static) {
      --basic-text: var(--primary-type1);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  button {
    background-color: transparent;
  }

  hr {
    height: var(--basic-border-width);
    background-color: var(--basic-border);
    margin: dimension(2) 0;
  }

  input,
  textarea {
    background-color: transparent;

    &:-webkit-autofill {
      -webkit-text-fill-color: varColor(--basic-text, --basic-text-opacity);
    }
  }

  img {
    max-width: 100%;
    overflow: hidden;
    vertical-align: bottom;
  }

  .border, .\!border {
    border-color: inherit;
  }
}
