@import "../../styles/color";

@mixin rippleVar() {
  --_rp-palette: var(--rp-palette, var(--palette-type1, var(--primary-type1)));
}

@mixin rippleAnimate() {
  @keyframes __animate-ripple__item {
    0% {
      background-color: transparent;
      clip-path: circle(000% at var(--_rp-x) var(--_rp-y));
    }

    100% {
      background-color: varColor(--_rp-palette, --opacity-container-pressed);
      clip-path: circle(150% at var(--_rp-x) var(--_rp-y));
    }
  }
}
