@import "../../styles/dimension";

@mixin buttonVar() {
  --_bt-palette-type1: var(--bt-palette-type1, var(--palette-type1, var(--basic-text)));
  --_bt-palette-type2: var(--bt-palette-type2, var(--palette-type1, var(--primary-type1)));
  --_bt-palette-select: var(--bt-palette-select, var(--palette-type2, var(--primary-type2)));
  --_bt-palette-image: var(--bt-palette-image, var(--_bt-palette-type1));

  --_bt-gap: var(--bt-gap, #{dimension(2)});
  --_bt-min-width: var(--bt-min-width, #{dimension(16)});
  --_bt-radius: var(--bt-radius, var(--basic-radius));
  --_bt-space: var(--bt-space, #{dimension(1)});
  --_bt-squeeze: var(--bt-squeeze, #{dimension(2)});

  --_bt-height: var(--bt-height, #{dimension(9)});
  --_bt--sm-height: var(--bt--sm-height, #{dimension(8)});
  --_bt--lg-height: var(--bt--lg-height, #{dimension(11)});
  --_bt-padding: var(--bt-padding, #{dimension(4)});
  --_bt--dn-padding: var(--bt--dn-padding, #{dimension(2)});

  --_bt-border-opacity: var(--bt-border-opacity, 0);

  --_bt-shadow: var(--bt-shadow, none);
  --_bt--hv-shadow: var(--bt--hv-shadow, none);
  --_bt--ac-shadow: var(--bt--ac-shadow, none);
  --_bt--dr-shadow: var(--bt--dr-shadow, var(--shadow-type6));

  --_bt--fb-gap: var(--bt--fb-gap, #{dimension(2)});
  --_bt--fb-radius: var(--bt--fb-radius, var(--radius-pill));
  --_bt--fb-padding: var(--bt--fb-padding, #{dimension(5)});

  --_bt--fb-height: var(--bt--fb-height, #{dimension(12)});
  --_bt--fb--sm-height: var(--bt--fb--sm-height, #{dimension(10)});
  --_bt--fb--lg-height: var(--bt--fb--lg-height, #{dimension(14)});

  --_bt--ch-radius: var(--bt--ch-radius, var(--radius-pill));
  --_bt--ch-padding: var(--bt--ch-padding, #{dimension(3)});

  --_bt--ch-height: var(--bt--ch-height, #{dimension(8)});
  --_bt--ch--sm-height: var(--bt--ch--sm-height, #{dimension(6)});
  --_bt--ch--lg-height: var(--bt--ch--lg-height, #{dimension(10)});
}
