@mixin badgeVar() {
  --_bg-palette: var(--bg-palette, var(--palette-type1, var(--error-type1)));
  --_bg-opacity: var(--bg-opacity, var(--opacity-primary-high));

  --_bg-border-width: var(--bg-border-width, 2px);
  --_bg-radius: var(--bg-radius, var(--radius-pill));
  --_bg-padding: var(--bg-padding, #{0 8px});
  --_bg-shift: var(--bg-shift, 0px);

  --_bg-size: var(--bg-size, 24px);
  --_bg--dt-size: var(--bg--dt-size, 8px);
  --_bg--sm-size: var(--bg--sm-size, 16px);
  --_bg--lr-size: var(--bg--lr-size, 32px);
}
