@import "../../styles/color";
@import "../../styles/dimension";
@import "../../styles/flex";
@import "../../styles/position";

@mixin avatar {
  --_av-radius: var(--av-radius, var(--radius-pill));
  --_av-height: var(--av-height, 200px);
  --_av-width: var(--av-width, 200px);

  --_av__sl-padding: var(--av__sl-padding, #{4px 16px});

  --sl-width: 100%;

  @include width(var(--_av-width));

  input {
    display: none;
  }
}

@mixin avatarImage {
  &__image {
    @include aspectRatio(#{var(--_av-width)/var(--_av-height)});
    @include rectangle(var(--_av-width), var(--_av-height));
    background-color: varColor(--background-overlay, --opacity-overlay);
    border-radius: var(--_av-radius);
    margin: 0 auto;
    position: relative;
    @content;
  }
}

@mixin avatarButton {
  &__button {
    @include absoluteBottom(8px);
    margin: 0 auto;
    @content;
  }
}

@mixin avatarSlider {
  &__slider {
    @include flexX;
    @include width(var(--_av-width));
    gap: 8px;
    margin: 0 auto;
    padding: var(--_av__sl-padding);
    @content;
  }
}

@mixin avatarShape {
  &.shape-basic &__image {
    border-radius: var(--basic-radius);
  }

  &.shape-rounded &__image {
    border-radius: var(--radius-type5);
  }

  &.shape-pill &__image {
    border-radius: var(--radius-pill);
  }

  &.shape-tile &__image {
    border-radius: var(--radius-tile);
  }
}

@mixin avatarInit {
  @include avatar;
  @include avatarImage;
  @include avatarButton;
  @include avatarSlider;

  @include avatarShape;
}
