@mixin buttonSelect() {
  &__button {
    --_bs-gap: var(--bs-gap, 8px);
  }

  &__body {
    display: flex;
  }

  &__text + &__value {
    padding-left: var(--_bs-gap);
  }

  &__button[data-value] &__text {
    --basic-text-opacity: var(--opacity-primary-medium);

    &::after {
      content: ":";
      color: inherit;
    }
  }
}

@mixin buttonSelectAlign() {
  &__button.align-left &__body {
    justify-content: left;
  }

  &__button.align-right &__body {
    justify-content: right;
  }

  &__button.align-center &__body {
    justify-content: center;
  }
}

@mixin buttonSelectInit() {
  @include buttonSelect;
  @include buttonSelectAlign;
}
