@import "../../styles/position";

@mixin data {
  &__headers {
    &.option-sticky {
      @include sticky;
      background: var(--background-type1);
      top: var(--basic-top);
      z-index: 4;
    }
  }
}

@mixin dataInit {
  @include data;
}
