@import "../../styles/color";
@import "../../styles/dimension";
@import "../../styles/flex";
@import "../../styles/font";

%color-error {
  --basic-text: var(--error-type1);
}

%color-opacity-medium {
  --basic-text-opacity: var(--opacity-surface-medium);
}

@mixin slider() {
  @include sliderVar;
  --sl-width: auto;

  &__body {
    @extend %flex-x;
    gap: var(--_is-gap);
    max-width: 100%;
    width: var(--_is-width);
  }

  &.option-vertical &__body {
    flex-direction: column;
    height: var(--_is-width);
    text-align: center;
    width: auto;
  }
}

@mixin sliderVar() {
  --_is-palette: var(--is-palette, var(--palette-type1, var(--primary-type1)));

  --_is-gap: var(--is-gap, 12px);
  --_is-width: var(--is-width, 320px);
  --_is__vl-height: var(--is__vl-height, 32px);
  --_is__vl-padding: var(--is__vl-padding, 8px);
  --_is__vl-width: var(--is__vl-width, 40px);
  --_is__ip-width: var(--is__ip-width, 32px);
}

@mixin sliderValue() {
  &__value {
    @include flexCenter;
    background-color: varColor(--background-overlay, --opacity-overlay);
    border-radius: var(--basic-radius);
    min-height: var(--_is__vl-height);
    min-width: var(--_is__vl-width);
    padding: 0 var(--_is__vl-padding);
    text-align: center;
    @content;
  }
}

@mixin sliderInput() {
  &__input {
    @include font('body2');
    @include select-none;
    border-bottom-color: varColor(--_is-palette);
    border-bottom-width: 2px;
    text-align: center;
    width: var(--_is__ip-width);
    @content;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &::placeholder {
      @extend %color-opacity-medium;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }

  &__hidden {
    display: none;
  }
}

@mixin sliderSlider() {
  &__slider {
    flex-grow: 1;
    flex-shrink: 1;
    @content;
  }
}

@mixin sliderRequired() {
  &__required {
    @extend %color-error;
    @content;

    &::after {
      content: '*';
    }
  }
}

@mixin sliderIcon() {
  &__icon {
    @extend %color-opacity-medium;
  }
}

@mixin sliderLabel() {
  &__label {
    @include font('subtitle2');
    @extend %color-opacity-medium;
    @extend %flex-x;

    &__value {
      --basic-text-opacity: var(--opacity-surface-high);
      flex-grow: 1;
      flex-shrink: 1;
      margin-left: dimension(2);
      text-align: right;
    }
  }
}

@mixin sliderHelper() {
  &__helper,
  &__validation {
    @include font('caption');
    padding: dimension(1) 0 0;
  }

  &__helper {
    @extend %color-opacity-medium;
    @content;
  }

  &.option-vertical & {
    &__helper,
    &__validation {
      margin-top: var(--_is-gap);
    }
  }
}

@mixin sliderValidation() {
  &__validation {
    @extend %color-error;
    @content;
  }
}

@mixin sliderInit() {
  @include slider;
  @include sliderValue;
  @include sliderInput;
  @include sliderSlider;
  @include sliderRequired;
  @include sliderIcon;
  @include sliderLabel;
  @include sliderHelper;
  @include sliderValidation;
}
