@import "../../styles/color";
@import "../../styles/dimension";
@import "../../styles/flex";
@import "../../styles/font";

@mixin top {
  --_tp-palette: var(--tp-palette, var(--palette-type1, var(--primary-type1)));
  --_tp-gap: var(--tp-gap, #{dimension(2)});
  --_tp-padding: var(--tp-padding, #{dimension(2)});
  --_tp__tt-padding: var(--tp__tt-padding, #{dimension(6)});

  --_tp-height: var(--tp-height, #{dimension(14)});
  --_tp--sm-height: var(--tp--sm-height, #{dimension(12)});
  --_tp--lr-height: var(--tp--lr-height, #{dimension(16)});

  @include flexX;
  --basic-text: var(--text-type2);
  --basic-text-opacity: var(--opacity-primary-high);
  background-color: varColor(--_tp-palette);
  gap: 0 var(--_tp-gap);
  min-height: var(--_tp-height);
  padding: 0 var(--_tp-padding);
  max-width: 100%;
  transition-property: background-color;
}

@mixin topTitle {
  &__title {
    @include clamp(2);
    @include font('headline6');
    @include flexDynamic;
    padding-left: var(--_tp__tt-padding);
  }
}

@mixin topSize() {
  &.size- {
    &small {
      --_tp-height: var(--_tp--sm-height);
    }

    &large {
      --_tp-height: var(--_tp--lr-height);
    }
  }
}

@mixin topAction {
  &.status-action {
    --basic-text: var(--text-type3);
    --bt-palette-type1: var(--text-type3);
    background-color: varColor(--background-scrim, --opacity-surface-high);
  }
}

@mixin topHide {
  &.status-hide &__bar {
    opacity: 0;
    transition-property: opacity;
  }
}

@mixin topInit {
  @include top;
  @include topTitle;

  @include topSize;

  @include topAction;
  @include topHide;
}
