@mixin mixinMenu($this: &) {
  bottom: auto;
  content: "--MENU--";
  display: block;
  left: var(--_wn-x, 0);
  padding: 0;
  right: auto;
  top: var(--_wn-y, 0);

  #{$this}__body,
  &.size-fullscreen #{$this}__body {
    background: var(--background-type6);
    box-shadow: var(--shadow-type6);
    max-height: calc(100vh - 48px);
    max-width: 100vw;
    min-width: var(--_wn--cn-width, var(--_wn-width));
    transform-origin: var(--_wn-or-x, left) var(--_wn-or-y, top);
    width: var(--_wn--cn-width, auto);
    @content;
  }

  &:not(.status-show) #{$this}__body {
    transform: var(--_wn-transform);
  }

  &.status-show {
    background-color: transparent;
  }
}
