@import "../../styles/color";
@import "../../styles/dimension";
@import "../../styles/elevation";
@import "../../styles/font";
@import "../../styles/flex";
@import "../../styles/position";
@import "../../styles/options/optionHide";
@import "../../styles/options/optionShape";

@mixin badge() {
  @include badgeVar;
  @include absoluteFull;
  @include flexCenter;
  @include font('overline');
  @include index(1);
  @include select-none;
  --ii-font-size: calc(var(--_bg-size) * .64);
  --basic-text: var(--text-type2);
  --basic-text-opacity: var(--opacity-primary-high);
  background-color: varColor(--_bg-palette);
  border-radius: var(--_bg-radius);
  height: var(--_bg-size);
  inset: auto;
  margin: auto;
  min-width: var(--_bg-size);
  padding: 0 dimension(1);
  transition-duration: var(--transition-menu-expanding);
  transition-property: opacity, transform;
  white-space: nowrap;

  @include optionHide;
}

@mixin badgeVar() {
  --_bg-palette: var(--bg-palette, var(--palette-type1, var(--error-type1)));

  --_bg-position: var(--bg-position, 0px);
  --_bg-radius: var(--bg-radius, var(--radius-pill));
  --_bg-size: var(--bg-size, 24px);

  --_bg--sm-size: var(--bg--sm-size, 16px);
  --_bg--lr-size: var(--bg--lr-size, 32px);

  --_bg--dot-size: var(--bg--dot-size, 8px);

  --_bg--ol-border-width: var(--bg--ol-border-width, 2px);
}

@mixin badgeDot() {
  &.value-dot {
    --_bg-size: var(--_bg--dot-size);
    padding: 0;
    @content;

    > * {
      display: none;
    }
  }
}

@mixin badgePosition() {
  &:not(.position-bottom) {
    bottom: calc(100% - var(--_bg-position));
  }

  &:not(.position-left) {
    left: calc(100% - var(--_bg-position));
  }

  &.position-bottom {
    top: calc(100% - var(--_bg-position));
  }

  &.position-left {
    right: calc(100% - var(--_bg-position));
  }
}

@mixin badgeAlignment() {
  &.alignment- {
    &overlap {
      --_bg-position: calc(var(--_bg-size) / 2);
    }

    &static {
      inset: auto;
      position: relative;
    }
  }
}

@mixin badgeSize() {
  @include optionShape;

  &.size- {
    &small {
      --_bg-size: var(--_bg--sm-size);
    }

    &large {
      --_bg-size: var(--_bg--lr-size);
    }
  }
}

@mixin badgeShape() {
  @include optionShape;

  &.shape-pill {
    @include squared(var(--_bg-size));
    padding: 0;
  }
}

@mixin badgeOutlined() {
  &.option-outline {
    @include afterAbsolute('full', absolute) {
      border-color: var(--_bg--ol-color, transparent);
      border-radius: inherit;
      border-width: var(--_bg--ol-border-width);
      @content;
    }
  }
}

@mixin badgeInit() {
  @include badge;
  @include badgeDot;
  @include badgePosition;
  @include badgeAlignment;
  @include badgeSize;
  @include badgeShape;
  @include badgeOutlined;
}
