@import "../../styles/flex";
@import "../../styles/padding";

@mixin dataPicker {
  --_dc__dd-basis: var(--dc__dd-basis, 280px);

  position: relative;
}

@mixin dataPickerBody {
  &__body {
  }
}

@mixin dataPickerData {
  &__data {
    @include paddingY(1);
  }
}

@mixin dataPickerPagination {
  &__pagination {
    border-top-width: var(--basic-border-width);
  }
}

@mixin dataPickerInfo {
  &__info {
  }
}

@mixin dataPickerSelected {
  &.status-selected & {
    &__data {
    }

    &__info {
    }
  }
}

@mixin dataPickerInit {
  @include dataPicker;
  @include dataPickerBody;
  @include dataPickerData;
  @include dataPickerPagination;
  @include dataPickerInfo;

  @include dataPickerSelected;
}
