@import "../../styles/flex";
@import "../../styles/padding";

@mixin dataPicker {
  --_dc__dd-basis: var(--dc__dd-basis, 280px);

  position: relative;
}

@mixin dataPickerBody {
  &__body {
    display: flex;
  }
}

@mixin dataPickerData {
  &__data {
    @include paddingY(1);
    @extend %flex-dynamic;
  }
}

@mixin dataPickerPagination {
  &__pagination {
    border-top-width: var(--basic-border-width);
  }
}

@mixin dataPickerInfo {
  &__info {
    flex-basis: 0;
    content: none;
  }
}

@mixin dataPickerSelected {
  &.status-selected & {
    &__data {
      flex-basis: var(--_dc__dd-basis);
      flex-grow: 0;
      flex-shrink: 0;
    }

    &__info {
      @extend %flex-dynamic;
    }
  }
}

@mixin dataPickerInit {
  @include dataPicker;
  @include dataPickerBody;
  @include dataPickerData;
  @include dataPickerPagination;
  @include dataPickerInfo;

  @include dataPickerSelected;
}
