$fontM3Baseline: (
        'headline1': (
                size: 57px,
                weight: normal,
                height: 112%,
                letter: -0.25px
        ),
        'headline2': (
                size: 45px,
                weight: normal,
                height: 116%,
                letter: initial
        ),
        'headline3': (
                size: 36px,
                weight: normal,
                height: 122%,
                letter: initial
        ),
        'headline4': (
                size: 32px,
                weight: normal,
                height: 125%,
                letter: initial
        ),
        'headline5': (
                size: 28px,
                weight: normal,
                height: 129%,
                letter: initial
        ),
        'headline6': (
                size: 24px,
                weight: normal,
                height: 133%,
                letter: initial
        ),
        'subtitle1': (
                size: 16px,
                weight: 500,
                height: 150%,
                letter: .1px
        ),
        'subtitle2': (
                size: 14px,
                weight: 500,
                height: 143%,
                letter: .1px
        ),
        'body1': (
                size: 16px,
                weight: normal,
                height: 150%,
                letter: .5px
        ),
        'body2': (
                size: 14px,
                weight: normal,
                height: 143%,
                letter: .25px
        ),
        'button': (
                size: 14px,
                weight: 500,
                height: 143%,
                letter: 0.1px,
                transform: none
        ),
        'caption': (
                size: 12px,
                weight: normal,
                height: 133%,
                letter: .4px
        ),
        'overline': (
                size: 11px,
                weight: 500,
                height: 145%,
                letter: 0.5px,
                transform: none
        )
);
