@import "../m2-baseline/chart/chartFlatDesign";
@import "../m2-baseline/chart/chartMaterialDesign";
@import "../m2-baseline/chart/chartTailwindcss";
@import "../../constructors/color";
@import "../../constructors/constructor";
@import "../../constructors/font";
@import "./components/DButton";
@import "background";
@import "font";
@import "shade";
@import "shadow";

@mixin initM3Baseline(
  $charts: (
          $chartFlatDesign,
          $chartMaterialDesign,
          $chartTailwindcss
  )
) {
  body.theme\:m3-baseline,
  body.theme\:m3-dark {
    @include initConstructor((
            shadow: $shadowM3Baseline,
    ));
    @include initFonts($fontM3Baseline);

    @include m3ButtonInit;
  }

  body.theme\:m3-baseline {
    @include initConstructor((
            background: $backgroundM3Baseline
    ));
    @include initColors($shadeM3Baseline, $charts);
  }
}
