@import "../../styles/color";
@import "../../styles/dimension";
@import "../../styles/flex";
@import "../../styles/font";
@import "../../styles/media";

@mixin datePicker() {
  @include datePickerVar;
  max-width: 100%;
  width: var(--_dp-width);
}

@mixin datePickerVar() {
  --_dp-palette: var(--dp-palette, var(--palette-type1, var(--primary-type1)));

  --_dp-padding: var(--dp-padding, #{dimension(6)});
  --_dp-padding-y: var(--dp-padding-y, #{dimension(2)});
  --_dp-padding-top: var(--dp-padding-top, #{dimension(4)});
  --_dp-width: var(--dp-width, #{dimension(82)});
  --_dp--ds-width: var(--dp--ds-width, #{dimension(64)});

  --_dp__mn-height: var(--dp__mn-height, #{dimension(14)});
  --_dp__mn-padding: var(--dp__mn-padding, #{dimension(3)});
  --_dp__sl-padding-top: var(--dp__sl-padding-top, #{dimension(8)});

  --_dp--ml-width: var(--dp--ml-width, #{dimension(90)});
  --_dp--ds--ml-width: var(--dp--ds--ml-width, #{dimension(128.25)});

  --_dp--ln-padding: var(--dp--ln-padding, #{dimension(4)});
  --_dp--ln__hd-width: var(--dp--ln__hd-width, #{dimension(40)});
  --_dp--ln__mn-height: var(--dp--ln__mn-height, #{dimension(12)});
  --_dp--ln__mn-padding: var(--dp--ln__mn-padding, #{dimension(1)});
}

@mixin datePickerHead() {
  &__head {
    --basic-text: var(--text-type2);
    --basic-text-opacity: var(--opacity-primary-high);
    --bt-palette-type1: var(--background-colorless);
    background-color: varColor(--_dp-palette);
    padding-bottom: calc(var(--_dp-padding-y) * 2);
    padding-top: var(--_dp-padding-y);
    @content;
  }

  &__spacer {
    flex-grow: 1;
    flex-shrink: 1;
  }

  &__title,
  &__selected {
    padding: 0 var(--_dp-padding);
  }
}

@mixin datePickerManagement() {
  &__management {
  }
}

@mixin datePickerTitle() {
  &__title {
    @include font('overline');
    padding-top: var(--_dp-padding-y);
    @content;
  }
}

@mixin datePickerSelected() {
  &__selected {
    @include flexX;
    @include font('headline4');
    padding-top: var(--_dp__sl-padding-top);
    @content;
  }

  &__null {
    --basic-text-opacity: var(--opacity-primary-medium);
  }
}

@mixin datePickerBody() {
  &__body {
    @include flexY;
  }
}

@mixin datePickerInput() {
  &__input {
    --cf-width: auto;
    display: flex;
    gap: 0 var(--_dp-padding-y);
    padding: var(--_dp-padding-top) var(--_dp-padding);

    &__item {
      @include flexDynamic;
    }
  }
}

@mixin datePickerMultiple() {
  &.option-multiple {
    --_dp-width: var(--_dp--ml-width);
  }

  &.option-multiple & {
    &__selected {
      @include font('headline5');
      --_dp__sl-padding-top: var(--_dp-padding-top);
    }
  }
}

@mixin datePickerAdaptive() {
  $this: &;

  @include mediaMinList {
    @include _datePickerAdaptiveMin($this);
    @include _datePickerAdaptiveDesktop($this);
  }

  @include mediaMaxWidth(minimum) {
    @include _datePickerAdaptiveMin($this);
  }

  &.adaptive-desktop {
    @include _datePickerAdaptiveMin($this);
    @include _datePickerAdaptiveDesktop($this);
  }
}

@mixin _datePickerAdaptiveMin($this: &) {
  --_dp-width: var(--_dp--ds-width);
  --_dp--ml-width: var(--_dp--ds-width);
}

@mixin _datePickerAdaptiveDesktop($this: &) {
  &.option-multiple {
    --_dp-width: var(--_dp--ds--ml-width);
  }

  #{$this}__head,
  #{$this}__management {
    display: none;
  }
}

@mixin datePickerLandscape() {
  @media screen and (orientation: landscape) {
    @include mediaMaxWidth(extra) {
      --_dp-padding: var(--_dp--ln-padding);
      --_dp__mn-height: var(--_dp--ln__mn-height);
      --_dp__mn-padding: var(--_dp--ln__mn-padding);
      display: flex;
      width: auto;

      &__content {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        max-width: 100%;
        width: var(--_dp-width);
      }

      &__head {
        display: flex;
        flex-flow: column;
        width: var(--_dp--ln__hd-width);
      }

      &__selected {
        align-items: flex-start;
        flex-flow: column;
        flex-grow: 1;
        gap: var(--_dp-padding-y) 0;
        justify-content: space-between;
      }
    }
  }
}

@mixin datePickerInit() {
  @include datePicker;
  @include datePickerHead;
  @include datePickerManagement;
  @include datePickerTitle;
  @include datePickerSelected;
  @include datePickerBody;
  @include datePickerInput;
  @include datePickerMultiple;
  @include datePickerAdaptive;
  @include datePickerLandscape;
}
