@import "../../styles/color";
@import "../../styles/dimension";
@import "../../styles/flex";
@import "../../styles/position";
@import "../../styles/options/optionHide";

@mixin imagesItem {
  --_im-palette-type1: var(--im-palette-type1, var(--palette-type1, var(--primary-type1)));
  --_im__ic-inset: var(--im__ic-inset, #{dimension(3)});

  @include flexDynamic;
  flex-basis: var(--_im-size);
  position: relative;
  width: auto;
}

@mixin imagesItemBody {
  &__body {
    @include squared(100%);
    background-color: varColor(--background-overlay, --opacity-overlay);
    display: block;
    position: relative;
    @content;
  }

  &.status-selected &__body {
    box-shadow: var(--shadow-type1);
    @include afterAbsolute() {
      background-color: varColor(--background-scrim, --opacity-scrim);
      z-index: 2;
    }
  }
}

@mixin imagesItemIcon {
  &__icon {
    --basic-text: var(--text-type2);
    --basic-text-opacity: var(--opacity-primary-high);
    position: absolute;
    right: var(--_im__ic-inset);
    top: var(--_im__ic-inset);
    z-index: 4;
    @content;
  }

  &:not(.status-selected) &__icon {
    opacity: 0;
    transform: scale(.8);
  }
}

@mixin imagesItemSelected {
  &.status-selected .d-images-bar {
    --basic-text: var(--_im-palette-type1);
    z-index: 4;

    &.display-above {
      --basic-text: var(--text-type2);
      background-color: varColor(--_im-palette-type1, --opacity-scrim);
    }
  }
}

@mixin imagesItemInit {
  @include imagesItem;
  @include imagesItemBody;
  @include imagesItemIcon;
  @include imagesItemSelected;
}
