@import "../../styles/color";
@import "../../styles/dimension";
@import "../../styles/elevation";
@import "../../styles/position";

@mixin progress() {
  @include progressAnimation;
  @include progressVar;
  @include index(1);
  animation-fill-mode: forwards;
  appearance: none;
  display: none;
  overflow: hidden;
  position: relative;
  transition-property: background-color;

  &::-webkit-progress-bar {
    background-color: var(--_pr-background);
  }

  &::-webkit-progress-value {
    background-color: var(--_pr__vl-background);
    transition-property: background-color;
  }

  &::-moz-progress-bar {
    background-color: var(--_pr__vl-background);
    transition-property: background-color;
  }

  &.status-move,
  &.status-visible {
    display: block;
  }
}

@mixin progressVar() {
  --_pr-palette: var(--pr-palette, var(--palette-type1, var(--primary-type1)));

  --_pr-background: var(--pr-background, #{varColor(--_pr-palette, --opacity-container-pressed)});
  --_pr-duration: var(--pr-duration, 20s);
  --_pr-height: var(--pr-height, 4px);
  --_pr-padding: var(--pr-padding, 4px);

  --_pr__vl-background: var(--pr__vl-background, #{varColor(--_pr-palette)});

  --_pr--cr-size: var(--pr--cr-size, 48px);
}

@mixin progressAnimation() {
  @keyframes __animate-linear--hidden {
    0% {
      transform: scaleY(1);
    }

    100% {
      transform: scaleY(0);
    }
  }

  @keyframes __animate-linear--visible {
    0% {
      transform: scaleY(0);
    }

    100% {
      transform: scaleY(1);
    }
  }

  @keyframes __animate-linear--type1 {
    0% {
      right: 100%;
    }

    5% {
      right: 60%;
    }

    50% {
      right: 10%;
    }

    100% {
      right: 5%;
    }
  }

  @keyframes __animate-linear--type2 {
    0% {
      left: -35%;
      right: 100%;
    }

    60% {
      left: 100%;
      right: -90%;
    }

    100% {
      left: 100%;
      right: -90%;
    }
  }

  @keyframes __animate-linear--type2__short {
    0% {
      left: -200%;
      right: 100%;
    }

    60% {
      left: 107%;
      right: -8%;
    }

    100% {
      left: 107%;
      right: -8%;
    }
  }

  @keyframes __animate-circle--hidden {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes __animate-circle--visible {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes __animate-circle--type1 {
    0% {
      stroke-dasharray: 1.256637061435917 125.66370614359173;
    }

    5% {
      stroke-dasharray: 50.265482457436692 125.66370614359173;
    }

    50% {
      stroke-dasharray: 113.09733552923253 125.66370614359173;
    }

    100% {
      stroke-dasharray: 125.66370614359173 125.66370614359173;
    }
  }

  @keyframes __animate-circle--type2 {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes __animate-circle--type2__circle {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124;
    }
  }
}

@mixin progressLinear() {
  &.type-linear {
    @include absoluteX;
    background-color: var(--_pr-background);
    height: var(--_pr-height);
    top: 0;
    transform-origin: top;
    width: 100%;

    &.option-bottom {
      bottom: 0;
      top: auto;
      transform-origin: bottom;
    }

    &.status-visible {
      animation-name: __animate-linear--visible;
    }

    &.status-move {
      animation-name: __animate-linear--hidden;
    }
  }
}

@mixin progressLinearIndeterminate() {
  &.type-linear:not([value]),
  &.type-linear:indeterminate {
    &::before,
    &::after {
      @include absoluteLeft;
      background-color: var(--_pr__vl-background);
      content: '';
      right: 100%;
      will-change: left, right;
      transition-property: background-color;
    }

    &.indeterminate-type1 {
      &::after {
        animation-duration: var(--_pr-duration);
        animation-fill-mode: forwards;
      }

      &.status-move,
      &.status-visible {
        &::after {
          animation-name: __animate-linear--type1;
        }
      }

      &.status-move {
        animation-delay: var(--transition-basic);

        &::before {
          right: 0;
          transition-property: right;
        }
      }
    }

    &.indeterminate-type2 {
      &::before {
        animation: __animate-linear--type2 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      }

      &::after {
        animation: __animate-linear--type2__short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        animation-delay: 1.15s;
      }
    }
  }
}

@mixin progressCircular() {
  &.type-circular {
    @include absoluteFull();
    @include squared(var(--_pr--cr-size));
    --_pr--cr-length: calc(2 * 3.1415926535 * 20px);
    --_pr--cr-dasharray: calc(var(--_pr--cr-length) / var(--_pr__vl-max));
    margin: auto;
    max-height: 100%;
    padding: var(--_pr-padding);
    transform: rotate(-90deg);

    &.status-visible {
      animation-name: __animate-circle--visible;
    }

    &.status-move {
      animation-name: __animate-circle--hidden;
    }
  }

  &__circle {
    fill: transparent;
    stroke: var(--_pr__vl-background);
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: var(--_pr-height);
    transition-property: background-color, stroke-dasharray;
  }

  &[value] &__circle {
    stroke-dasharray: calc(var(--_pr__vl-value, 0) * var(--_pr--cr-dasharray)) var(--_pr--cr-length);
    stroke-linecap: butt;
  }
}

@mixin progressCircularIndeterminate() {
  $this: &;

  &.type-circular:not([value]) {
    &.indeterminate-type1 #{$this}__circle {
      animation-duration: var(--_pr-duration);
      animation-fill-mode: forwards;
      animation-name: __animate-circle--type1;
    }

    &.indeterminate-type2 #{$this}__circle {
      animation: __animate-circle--type2 2s linear infinite,
      __animate-circle--type2__circle 1.5s ease-in-out infinite;
      transform-origin: center;
    }
  }
}

@mixin progressInit() {
  @include progress;
  @include progressLinear;
  @include progressLinearIndeterminate;
  @include progressCircular;
  @include progressCircularIndeterminate;
}
