@import "../../src/styles/dimension";

@mixin calendarVar() {
  --_cl-palette: var(--cl-palette, var(--background-overlay));
  --_cl-status-palette: var(--cl-status-palette, var(--palette-type1, var(--primary-type1)));
  --_cl-text-palette: var(--cl-text-palette, var(--text-type1));

  --_cl-width: var(--cl-width, #{dimension(82)});
  --_cl--ml-width: var(--cl--ml-width, #{dimension(90)});
  --_cl--ds-width: var(--cl--ds-width, #{dimension(64)});

  --_cl__nm--mb-gap: var(--cl__nm--mb-gap, #{dimension(1)});
  --_cl__nm--ml-gap: var(--cl__nm--ml-gap, 0px);
  --_cl__nm--ds-gap: var(--cl__nm--ds-gap, 0px);

  --_cl__nm--mb-margin: var(--cl__nm--mb-margin, #{dimension(.5)});
  --_cl__nm--ml-margin: var(--cl__nm--ml-margin, #{dimension(1)});
  --_cl__nm--ds-margin: var(--cl__nm--ds-margin, #{dimension(.5)});

  --_cl__nm--mb-padding: var(--cl__nm--mb-padding, #{dimension(3)});
  --_cl__nm--ds-padding: var(--cl__nm--ds-padding, #{dimension(4)});

  --_cl__nm--mb-width: var(--cl__nm--mb-width, #{dimension(10)});
  --_cl__nm--ml-width: var(--cl__nm--ml-width, #{dimension(12)});
  --_cl__nm--ds-width: var(--cl__nm--ds-width, #{dimension(8)});

  --_cl__dy-shape: var(--cl__dy-shape, 1024px);
}
