@mixin checkboxVar() {
  --_cb-palette-type1: var(--cb-palette-type1, var(--text-type1));
  --_cb-palette-type2: var(--cb-palette-type2, var(--palette-type1, var(--primary-type1)));

  --_cb-gap: var(--cb-gap, 12px);

  --_cb-size: var(--cb-size, 40px);
  --_cb__ic-size: var(--cb__ic-size, 20px);

  --_cb__sw-height: var(--cb__sw-height, 14px);
  --_cb__sw-width: var(--cb__sw-width, 36px);
}
