@import "../../styles/flex";
@import "../../styles/position";
@import "../../styles/options/optionHide";
@import "styleExtend";
@import "styleVar";

@mixin iconItem() {
  @include iconItemVar;
  @include absoluteFull;
  @include flexCenter;
  @extend %font-size;
  background-size: var(--_ii-background-size);
  border-radius: inherit;
  transform: none;
  transition-duration: var(--transition-menu-expanding);
  transition-property: opacity, transform;

  @include optionHide();
}

@mixin iconItemMaterial() {
  &.material-icons {
    @extend %display;
    @extend %font-size;
    @content;

    &.type- {
      &outlined {
        font-family: 'Material Icons Outlined', sans-serif;
      }

      &round {
        font-family: 'Material Icons Round', sans-serif;
      }

      &sharp {
        font-family: 'Material Icons Sharp', sans-serif;
      }

      &two-tone {
        font-family: 'Material Icons Two Tone', sans-serif;
      }
    }
  }
}

@mixin iconItemLineAwesome() {
  &.la,
  &.lab,
  &.lad,
  &.lal,
  &.lar,
  &.las {
    @extend %display;
    @content;
  }
}

@mixin iconItemDisabled() {
  &:not(.status-hide).status-disabled {
    --basic-text-opacity: var(--opacity-surface-disabled);
    @content;

    &.type- {
      &color,
      &image {
        filter: grayscale(1);
        opacity: var(--opacity-surface-disabled);
      }
    }
  }
}

@mixin iconItemInit() {
  @include iconItem;
  @include iconItemMaterial;
  @include iconItemLineAwesome;
  @include iconItemDisabled;
}
