@import "../../styles/dimension";
@import "../../styles/flex";
@import "../../styles/font";

@mixin mixinAdaptive() {
  --_li-padding: var(--_li--ic-padding);
  --_li--nr-height: var(--_li--nr--ic-height);
  --_li--ic-display: none;
  --_li__ic-padding: 0;
  justify-content: center;
  min-width: calc(var(--_li-height) - var(--_li-margin));
}

@mixin mixinNavigationRail($this: &) {
  --_li-padding: #{dimension(1)};
  --_li__ic-padding: 0;

  --_li-height: var(--_li--nr-height);
  --_li--cm-height: var(--_li--nr-height);
  --_li--md-height: var(--_li--nr-height);
  --_li--lg-height: var(--_li--nr-height);

  --_li--sh-display: block;
  --_li--sh__text-display: none;

  @include flexY;
  @include squared(var(--_li--nr-height));
  justify-content: center;

  #{$this}__text,
  #{$this}__main {
    @include ellipsis;
    display: var(--_li--ic-display, block);
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 100%;
    padding: 0;
    text-align: center;
  }

  #{$this}__text-short + #{$this}__text {
    display: none;
  }
}

%palette-color {
  --_li-palette-type1: var(--_li-palette-type2);
}

%background-filled {
  --_li-text-color: var(--text-type2);
  --_li-image: var(--background-colorless);
  --_li--hv-background-opacity: var(--opacity-primary-high);
}

%background-filled-selected {
  --_li--sl-text: var(--text-type2);
  --_li--sl-image: var(--background-colorless);
  --_li--sl-background-opacity: var(--opacity-primary-high);
}

%text-color {
  --_li-text-color: var(--_li-palette-type2);
}

%icon-margin-left {
  margin-left: var(--_li-gap);
}
