@import "../../styles/color";
@import "../../styles/dimension";
@import "../../styles/elevation";
@import "../../styles/media";
@import "../../styles/position";
@import "styleExtend";
@import "styleVar";

@mixin window() {
  @include windowVar;
  @include windowAnimation;

  @include fixedFull;
  @include index(9);

  align-items: flex-end;
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding: var(--_wn-padding);
  transition-duration: var(--transition-menu-collapsing);
  transition-property: background-color;
}

@mixin windowBody() {
  &__body {
    background: var(--background-type9);
    border-radius: var(--_wn-radius);
    box-shadow: var(--shadow-type9);
    max-height: var(--_wn-height);
    max-width: dimension(160);
    opacity: 0;
    overflow-y: auto;
    transform: var(--_wn-transform);
    transform-origin: bottom center;
    transition: opacity var(--transition-menu-collapsing) linear,
    transform var(--transition-menu-collapsing) linear,
    visibility var(--transition-flash) linear var(--transition-menu-collapsing);
    width: 100%;
    visibility: hidden;
    @content;
  }
}

@mixin windowMenu() {
  $this: &;

  @include mediaMinList {
    @include mixinMenu($this);
    @content;
  }

  &.adaptive-menu {
    @include mixinMenu($this);
    @content;
  }
}

@mixin windowModal() {
  @include mediaMinWidth {
    &.adaptive-modal,
    &.adaptive-modal-left,
    &.adaptive-modal-right {
      --_wn-padding: var(--_wn--md-padding);
      align-items: center;
      @content;
    }

    &.adaptive-modal &__body,
    &.adaptive-modal-left &__body,
    &.adaptive-modal-right &__body {
      max-width: 100%;
      width: var(--_wn--md-width);
      transform-origin: center;
    }

    &.adaptive-modal-left &__body,
    &.adaptive-modal-right &__body {
      --_wn-height: none;
      height: 100%;
    }
  }

  &.adaptive-modal-left {
    --_wn-transform: var(--_wn--ml-transform);
    justify-content: flex-start;
  }

  &.adaptive-modal-left &__body {
    transform-origin: left;
  }

  &.adaptive-modal-right {
    --_wn-transform: var(--_wn--mr-transform);
    justify-content: flex-end;
  }

  &.adaptive-modal-right &__body {
    transform-origin: right;
  }

  &.shape-tile {
    &.adaptive-modal-left,
    &.adaptive-modal-right {
      padding-bottom: 0;
      padding-top: 0;
    }

    &.adaptive-modal-left {
      padding-left: 0;
    }

    &.adaptive-modal-right {
      padding-right: 0;
    }
  }
}

@mixin windowSize() {
  &.size-minimum &__body {
    width: auto;
  }

  &.size-fullscreen {
    --_wn-padding: 0;
    --_wn--md-padding: 0;
  }

  &.size-fullscreen &__body {
    border-radius: 0;
    height: 100%;
    max-height: none;
    max-width: none;
    transform: scale(.2);
    transform-origin: var(--_wn-cl-x, center) var(--_wn-cl-y, bottom);
    width: 100%;
  }
}

@mixin windowShape() {
  &.shape-basic &__body {
    border-radius: var(--basic-radius);
  }

  &.shape-rounded &__body {
    border-radius: var(--radius-type4);
  }

  &.shape-tile &__body {
    border-radius: var(--radius-tile);
  }
}

@mixin windowPersistent() {
  &.option-persistent &__body {
    animation-duration: var(--transition-menu-expanding);
    animation-name: __animate-window--persistent;
    animation-timing-function: var(--transition-cubic-80-40);
  }
}

@mixin windowStatus() {
  &.status-show {
    background-color: varColor(--background-scrim, --opacity-scrim);
    transition-duration: var(--transition-menu-expanding);
  }

  &.status-show &__body {
    opacity: 1;
    transform: none;
    transition: opacity var(--transition-flash) linear,
    transform var(--transition-menu-expanding) var(--transition-cubic-80-00);
    visibility: visible;
  }

  &.status-hide &__body {
    transform: none !important;
  }
}

@mixin windowInit() {
  @include window;
  @include windowBody;

  @include windowMenu;
  @include windowModal;

  @include windowSize;
  @include windowShape;
  @include windowPersistent;

  @include windowStatus;
}
