@import "../../styles/color";

@mixin mixinShow($this: &) {
  &.status-show {
    --_nv-background-color: #{varColor(--background-scrim, --_nv-background-opacity)};
    --_nv-transform: none;
    transition-duration: var(--transition-medium-expanding);
    visibility: visible;
  }

  &.status-show #{$this}__body {
    transition-timing-function: var(--transition-cubic-80-00);
    opacity: 1;
  }
}

@mixin mixinNavigationRail {
  --_nv__body-width: auto;
  --_nv__content-width: var(--_nv-width);
  --_nv__tt-display: none;
}
