@import "../../src/styles/flex";
@import "../../src/styles/font";
@import "../../src/styles/media";
@import "../../src/styles/padding";

@mixin timePicker() {
  --_tp-padding: var(--tp-padding, 24px);
  --_tp-width: var(--tp-width, 328px);
  --_tp--landscape-gap: var(--tp--landscape-gap, 64px);
  --_tp--landscape-width: var(--tp--landscape-width, 584px);

  --_tp__in-height: var(--tp__in-height, 80px);
  --_tp__cl-padding-top: var(--tp__cl-padding-top, 36px);

  padding: var(--_tp-padding) 0 0;
  width: var(--_tp-width);
  max-width: 100%;
}

@mixin timePickerTitle() {
  &__title {
    @include font('caption');
    @include paddingX(var(--_tp-padding));
    opacity: var(--opacity-surface-medium);
    @content;
  }
}

@mixin timePickerContent {
  &__content {
    padding: 0 var(--_tp-padding) 0;
  }

  &__panel {
    overflow: hidden;
  }
}

@mixin timePickerInput() {
  &__input {
    @content;
  }
}

@mixin timePickerField() {
  &__field {
    align-items: stretch;
    display: flex;
    justify-content: center;
    padding: var(--_tp-padding) 0 0;
    @content;

    .tp-field {
      @include flexDynamic;
    }
  }
}

@mixin timePickerColon() {
  &__colon {
    @include font('subtitle1');
    @include width(var(--_tp-padding));
    font-size: dimension(13);
    line-height: var(--_tp__in-height);
    text-align: center;
  }
}

@mixin timePickerGroup() {
  &__group {
    margin-left: calc(var(--_tp-padding) / 2);
    max-height: var(--_tp__in-height);
    @content;
  }
}

@mixin timePickerClockDial() {
  &__clock-dial {
    @include flexCenter;
    padding-top: var(--_tp__cl-padding-top);
    @content;
  }
}

@mixin timePickerButton() {
  &__button {
    margin-top: var(--_tp-padding);
    @content;
  }
}

@mixin timePickerLandscape() {
  @media screen and (orientation: landscape) {
    @include mediaMaxWidth(extra) {
      @include _timePickerLandscape();

      &__panel {
        content: none;
      }

      &.status-switch-clock {
        --_tp-width: var(--_tp--landscape-width);
        --_tp__cl-padding-top: 0px;
      }

      &.status-switch-clock & {
        &__content {
          align-items: center;
          display: flex;
          gap: 0 var(--_tp--landscape-gap);
        }

        &__input,
        &__clock-dial {
          @include flexDynamic;
        }
      }
    }
  }

  @include mediaMaxWidth(minimum) {
    @include _timePickerLandscape;
    @content;
  }
}

@mixin _timePickerLandscape() {
  &__field {
    flex-wrap: wrap;
  }

  &__group {
    @include width(100%);
    margin-left: 0;
    margin-top: calc(var(--_tp-padding) / 2);
  }
}

@mixin timePickerInit() {
  @include timePicker;
  @include timePickerTitle;
  @include timePickerContent;
  @include timePickerInput;
  @include timePickerField;
  @include timePickerColon;
  @include timePickerGroup;
  @include timePickerClockDial;
  @include timePickerButton;
  @include timePickerLandscape;
}
