@import "../../styles/color";
@import "../../styles/elevation";
@import "../../styles/flex";
@import "../../styles/position";
@import "../../styles/options/optionBlur";

@mixin bottomNavigation {
  --_bv-palette-type1: var(--bv-palette-type1, var(--background-type8));
  --_bv-palette-type2: var(--bv-palette-type2, var(--palette-type1, var(--primary-type1)));
  --_bv-height: var(--bv-height, 56px);
  --_bv--ic-height: var(--bv--ic-height, 40px);
  --_bv-width: var(--bv-width, 512px);

  --li--nr-height: var(--_bv-height);
  --li--nr--ic-height: var(--_bv--ic-height);

  @include index(6);
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

@mixin bottomNavigationBody {
  &__body {
    @include flexX;
    --basic-text: var(--_bv-palette-type2);
    background: var(--_bv-palette-type1);
    box-shadow: var(--shadow-type6);
    max-width: var(--_bv-width);
    margin: 0 auto;
    width: 100%;
  }
}

@mixin bottomNavigationItem {
  &__item.d-list-item {
    @include flexDynamic;
    aspect-ratio: auto;

    @content;
  }
}

@mixin bottomNavigationContained {
  &.appearance-contained &__body {
    --basic-text: var(--text-type2);
    --basic-text-opacity: var(--opacity-primary-medium);
    --li-palette-select: var(--basic-text);
    background: varColor(--_bv-palette-type2);

    .status-selected {
      --basic-text-opacity: var(--opacity-primary-high);
    }
  }
}

@mixin bottomNavigationTranslucency {
  &.appearance-translucency &__body {
    --basic-text: var(--text-type1);
    background: varColor(--background-colorless, --opacity-primary-medium);
    @include optionBlur(var(--blur-type3)) {
      background: var(--_bv-palette-type1);
    }
  }
}

@mixin bottomNavigationDisappears {
  &.scroll-disappears {
    bottom: var(--_bv-bottom, 0px);
  }
}

@mixin bottomNavigationBorder {
  &.scroll-border &__body {
    box-shadow: none;

    @include afterAbsolute('top') {
      background-color: var(--basic-border);
      height: var(--basic-border-width);
      transition: inherit;
    }
  }
}

@mixin bottomNavigationInit {
  @include bottomNavigation;
  @include bottomNavigationBody;
  @include bottomNavigationItem;

  @include bottomNavigationContained;
  @include bottomNavigationTranslucency;

  @include bottomNavigationDisappears;
  @include bottomNavigationBorder;
}
