@import "../../styles/color";

@mixin buttonVar() {
  --_bt-palette: var(--bt-palette, var(--palette-type1, var(--basic-text)));
  --_bt-color-palette: var(--bt-color-palette, var(--palette-type1, var(--primary-type1)));
  --_bt-select-palette: var(--bt-select-palette, var(--palette-type2, var(--primary-type2)));
  --_bt-image-palette: var(--bt-image-palette, var(--_bt-palette));

  --_bt-background: var(--bt-background, transparent);
  --_bt-gap: var(--bt-gap, 8px);
  --_bt-radius: var(--bt-radius, var(--basic-radius));
  --_bt-min-width: var(--bt-min-width, 64px);
  --_bt-padding: var(--bt-padding, 16px);
  --_bt-space: var(--bt-space, 4px);
  --_bt-squeeze: var(--bt-squeeze, 8px);

  --_bt-border: var(--bt-border, transparent);
  --_bt--fc-border: var(--bt--fc-border, var(--_bt-border));
  --_bt--ac-border: var(--bt--ac-border, #{varColor(--_bt-palette, --opacity-surface-medium)});

  --_bt-height: var(--bt-height, 36px);
  --_bt--sm-height: var(--bt--sm-height, 32px);
  --_bt--lg-height: var(--bt--lg-height, 44px);

  --_bt-shadow: var(--bt-shadow, none);
  --_bt--hv-shadow: var(--bt--hv-shadow, none);
  --_bt--ac-shadow: var(--bt--ac-shadow, none);
  --_bt--dr-shadow: var(--bt--dr-shadow, var(--shadow-type6));

  --_bt--dn-padding: var(--bt--dn-padding, 8px);
}

@mixin buttonVarFab() {
  --_bt--fb-gap: var(--bt--fb-gap, 8px);
  --_bt--fb-radius: var(--bt--fb-radius, var(--radius-pill));
  --_bt--fb-padding: var(--bt--fb-padding, 20px);

  --_bt--fb-height: var(--bt--fb-height, 48px);
  --_bt--fb--sm-height: var(--bt--fb--sm-height, 40px);
  --_bt--fb--lg-height: var(--bt--fb--lg-height, 56px);
}

@mixin buttonVarChip() {
  --_bt--ch-radius: var(--bt--ch-radius, var(--radius-pill));
  --_bt--ch-padding: var(--bt--ch-padding, 12px);

  --_bt--ch-height: var(--bt--ch-height, 32px);
  --_bt--ch--sm-height: var(--bt--ch--sm-height, 24px);
  --_bt--ch--lg-height: var(--bt--ch--lg-height, 40px);
}
