@import "../../styles/color";
@import "../../styles/font";

@mixin mixinAdaptive() {
  --_bt-gap: 0;
  --_bt-padding: 0;
  --_bt-squeeze: 0;
  --_bt--ic-display: none;
  min-width: var(--_bt-height);
}

%text-color {
  --basic-text: var(--_bt-color-palette);
}

%border {
  --_bt-border: var(--basic-border);
  --_bt--ds-border: var(--basic-border);
}

%border-color {
  --_bt-border: #{varColor(--_bt-color-palette)};
  --_bt--ds-border: var(--basic-border);
}

%filled {
  --basic-text: var(--text-type2);
  --basic-text-opacity: var(--opacity-primary-high);
  --ic-palette: var(--_bt-image-palette);

  --_bt-palette: var(--_bt-color-palette);
  --_bt-image-palette: var(--background-colorless);
  --_bt-background: #{varColor(--_bt-palette)};
  --_bt--ds-background: #{varColor(--_bt-palette, --opacity-container-disabled)};
}

%filled-status {
  &:not(:disabled):not(.status-disabled):not(.status-readonly) {
    &:hover,
    &.status-hover,
    &:focus,
    &.status-focus,
    &:active,
    &.status-active,
    &.status-selected,
    &.status-dragged {
      @extend %filled;
    }
  }
}

%chip {
  @include font('body2');

  --_bt-radius: var(--_bt--ch-radius);
  --_bt-padding: var(--_bt--ch-padding);

  --_bt-height: var(--_bt--ch-height);
  --_bt--sm-height: var(--_bt--ch--sm-height);
  --_bt--lg-height: var(--_bt--ch--lg-height);

  --_bt--ac-shadow: var(--shadow-type2);
}

%chip-background {
  --_bt-background: #{varColor(--_bt-palette, --opacity-overlay)};
  --_bt--ds-background: #{varColor(--_bt-palette, --opacity-container-disabled)};
}

%chip-selected {
  &:not(:disabled):not(.status-disabled):not(.status-readonly).status-selected {
    @extend %text-color;
  }

}
