@import "../design/m2-baseline/init";
@import "../design/m2-dark/init";
@import "../design/m3-baseline/init";
@import "../design/m3-dark/init";
@import "../styles/elevation";
@import "../styles/flex";
@import "../styles/media";

@import "./assets/icons/line-awesome/css/line-awesome.min.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Round");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Sharp");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone");

@include init();
@include initDark();
@include initM3Baseline();
@include initM3Dark();

header,
main,
footer {
  width: calc(100% - 32px);
  max-width: 1024px;
}

header {
  @include flexX;
  @include flexGapX(8px);
  @include index(2);
  @include sticky;
  background: var(--background-type2);
  border-radius: var(--basic-radius);
  box-shadow: var(--shadow-type2);
  margin: 0 auto dimension(4);
  padding: dimension(2) dimension(4);
  top: dimension(4);
  will-change: width;
}

main {
  --basic-top: 72px;
  margin: 0 auto;
  will-change: width;
}

footer {
  @include flexX;
  @include flexGapX(0);
  @include flexGapY(16px);
  --basic-text-opacity: var(--opacity-surface-medium);
  flex-wrap: wrap;
  margin: dimension(4) auto dimension(16);
  text-align: right;
  will-change: width;
}

.ui-sector {
  display: flex;
  min-height: 100vh;

  &__main {
    padding-top: dimension(32);
    flex-grow: 1;
    will-change: width;
  }
}

.ui-git {
  flex-basis: 100%;
}

.ui-copy {
  @include flexDynamic;
}

@include mediaMinWidth {
  footer {
    @include flexGapX(16px);
    @include flexGapY(0);
  }

  .ui-git {
    flex-basis: auto;
  }
}
