@import "../../styles/color";
@import "../../styles/dimension";
@import "../../styles/flex";
@import "../../styles/font";

@mixin clipboard() {
  --_cl-gap: var(--cl-gap, #{dimension(2)});
  --_cl-padding: var(--cl-padding, #{dimension(1) dimension(2)});

  @include flexX;
  @include flexGapX(var(--_cl-gap));
  @include font('body2');
  background-color: varColor(--background-overlay, --opacity-overlay);
  border-radius: var(--basic-radius);
  padding: var(--_cl-padding);

  &__button {
    --basic-text-opacity: var(--opacity-surface-medium);
  }

  &__input {
    @include ellipsis;
    @include flexDynamic;
    margin-left: 8px;
  }
}

@mixin clipboardInit() {
  @include clipboard;
}
