@mixin flexX() {
  align-items: center;
  display: flex;
}

@mixin flexY() {
  @include flexX;
  flex-flow: column;
}

@mixin flexCenter() {
  @include flexX;
  justify-content: center;
}

@mixin flexCenterY() {
  @include flexY;
  justify-content: center;
}

@mixin flexBetween() {
  display: flex;
  justify-content: space-between;
}

@mixin flexInlineX() {
  align-items: center;
  display: inline-flex;
}

@mixin flexInlineCenter() {
  @include flexInlineX;
  justify-content: center;
}

@mixin flexDynamic() {
  flex-basis: 1px;
  flex-grow: 1;
  flex-shrink: 1;
}

@mixin flexGapX($value) {
  > * + * {
    margin-left: calc(var(--d-direction-left) * (#{$value}));
    margin-right: calc(var(--d-direction-right) * (#{$value}));
  }
}

@mixin flexGapY($value) {
  > * + * {
    margin-top: $value;
  }
}

%flex-x {
  @include flexX;
}

%flex-dynamic {
  @include flexDynamic;
}
