@import "dimension";

@mixin padding($value) {
  padding: dimension($value);
}

@mixin paddingX($value) {
  padding-left: dimension($value);
  padding-right: dimension($value);
}

@mixin paddingY($value) {
  padding-bottom: dimension($value);
  padding-top: dimension($value);
}

@mixin paddingTop($value) {
  padding-top: dimension($value);
}

@mixin paddingRight($value) {
  padding-right: dimension($value);
}

@mixin paddingLeft($value) {
  padding-left: dimension($value);
}

@mixin paddingBottom($value) {
  padding-bottom: dimension($value);
}

@mixin paddingDirectionLeft($value) {
  padding-left: calc(var(--d-direction-left) * (#{$value}));
  padding-right: calc(var(--d-direction-right) * (#{$value}));
}

@mixin paddingDirectionRight($value) {
  padding-left: calc(var(--d-direction-right) * (#{$value}));
  padding-right: calc(var(--d-direction-left) * (#{$value}));
}

@mixin paddingDirectionX($valueLeft, $valueRight) {
  padding-left: calc((var(--d-direction-left) * (#{$valueLeft})) + (var(--d-direction-right) * (#{$valueRight})));
  padding-right: calc((var(--d-direction-left) * (#{$valueRight})) + (var(--d-direction-right) * (#{$valueLeft})));
}
