@import "../../styles/dimension";
@import "../../styles/flex";
@import "../../styles/font";
@import "../../styles/media";

%width {
  @include width(100%);
}

@mixin form {
  @include formVar;
  width: 100%;
}

@mixin formVar {
  --_fr-gap: var(--fr-gap, 16px);
  --_fr-gap-y: var(--fr-gap, 24px);
  --_fr-padding: var(--fr-padding, #{8px 8px 24px});
}

@mixin formFields() {
  &__fields {
    padding: var(--_fr-padding);

    @include mediaMinWidth(large) {
      align-items: flex-start;
      display: flex;
      gap: var(--_fr-gap);
      @content;
    }
  }
}

@mixin formSection() {
  &__section {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: var(--_fr-gap-y) var(--_fr-gap);
    @content;
  }
}

@mixin formItem() {
  &__item {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    @content;
  }
}

@mixin formTitle() {
  &__title {
    @include font('headline6');
    @extend %width;
    @content;
  }
}

@mixin formHtml() {
  &__html {
    @extend %width;
    @content;
  }
}

@mixin formSubtitle() {
  &__subtitle {
    @include font('subtitle2');
    @extend %width;
    @content;
  }
}

@mixin formLine() {
  &__line {
    @extend %width;
    height: var(--basic-border-width);
    background-color: var(--basic-border);
    @content;
  }
}

@mixin formSpace() {
  &__space {
    @extend %width;
    @content;
  }
}

@mixin formInit {
  @include form;
  @include formFields;
  @include formSection;
  @include formItem;
  @include formTitle;
  @include formHtml;
  @include formSubtitle;
  @include formLine;
  @include formSpace;
}
