@import "../../styles/color";
@import "../../styles/dimension";

@mixin cardMedia {
  --_cm__ic-aspect: var(--cm__ic-aspect, 172/97);
  --_cm__ic-inset: var(--cm__ic-inset, #{dimension(3)});
  --_cm__ic-height: var(--cm__ic-height, 194px);
  --_cm__ic-size: var(--cm__ic-size, #{dimension(12)});

  @include aspectRatio(var(--_cm__ic-aspect)) {
    height: var(--_cm__ic-height);
  }

  background-color: varColor(--background-overlay, --opacity-overlay);
  display: block;
  position: relative;
  width: 100%;
}

@mixin cardMediaThumbnail {
  &__thumbnail {
    --basic-text-opacity: var(--opacity-surface-disabled);
    --ii-font-size: var(--_cm__ic-size);
    @content;
  }
}

@mixin cardMediaIcon {
  &__icon {
    --basic-text: var(--text-type2);
    --basic-text-opacity: var(--opacity-primary-high);
    position: absolute;
    right: var(--_cm__ic-inset);
    top: var(--_cm__ic-inset);
    @content;
  }
}

@mixin cardMediaInit {
  @include cardMedia;
  @include cardMediaThumbnail;
  @include cardMediaIcon;
}
